
.dialog:hover {box-shadow: 0px 0px 40px rgba(0,0,0,.2);}

[class*='close-'] {
   color: #777;
   font: 18px/100% arial, sans-serif;
   font-weight: bold;
   position: absolute;
   right: 8px;
   text-decoration: none;
   text-shadow: 0 1px 0 #fff;
   top: 8px;
 }

 .close-thik:after { content: '✖'; }

 .compHeader .close, .compHeader .close-thik{ float: right; }
 
 /* Dialog */
 .dialog {
   display: block;
   position: absolute;
   border: 1px solid #ccc;
   background-image: linear-gradient(#B2B2B2,#FFFFFF);
   border: 1px solid #ccc;
   border-radius: 5px;
   float: left;
   left: 120px;
   width: 350px;    
   height: auto;
   min-width: 200px;
   max-width: 400px;
   max-height: 515px;
   z-index: 2000000;
   padding: 10px;
   overflow: hidden;
   box-shadow: 0px 0px 40px rgba(0,0,0,.2);  
   font-size: 16px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;  
   color: #777;   
   text-decoration: none;
   box-sizing: border-box;
   text-decoration: none;
   margin: 0px;
 }
 .dialog .content{
   margin: 20px 0px 10px 0px;
   height: auto;
   min-height: 120px;
   max-height: 405px;
   overflow-y:scroll;
}
.dialog .content #customersList{
   padding: 10px 20px 10px 20px;
}
#customerContent::-webkit-scrollbar-track{background-color: transparent;}
#customerContent::-webkit-scrollbar{width: 4px;	background-color: transparent;}
#customerContent::-webkit-scrollbar-thumb{background-color: ghostwhite;}
button.close {     
   background-color: Transparent; background-repeat:no-repeat;border: none;
   cursor:pointer;
   overflow: hidden;    
   float: right;     
}
.search-form {border-radius: 0px 16px 16px 0px; height: 32px;background-color: #fff; border: solid .05em #000; border-left: 0px;  color: #000; cursor:pointer; overflow: hidden; outline:none;width: 235px;}
.search-btn  {margin-left: 16px;border-radius: 16px 0px 0px 16px; height: 32px;background-color: #fff; border: solid .05em #000; border-right: 0px; color: #000; cursor:pointer; overflow: hidden; outline:none;}
.compHeader{ height: 25px; text-align: right;}
.gap{width: 10px;}
.state-container-dropdown{
   position: absolute;
   top:40px;
   z-index: 2;
   left:30px;
   width: 330px;
   height: 200px;
   max-height: 300px;
   background: #c7c7c7;
   overflow:auto;
}

a {text-decoration: none;font-size: 12px; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;vertical-align: middle;line-height: 16px; }
