.headquarters {
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  padding-bottom: 0px;
}

.row {
  margin-top: 10px;
}

.emailStyleRequired {
  color: red;
}

#hqform {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}
/*
.generalTitle {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
}

input {
  outline: none;
  border: 1px solid orange;
}

.titleLabel {
  width: 175px;
  height: 25px;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 15px;
  text-align: right;
  vertical-align: text-bottom;
  border-bottom: 1px solid black;
}
*/
/*
 #hqform .form-control-feedback {
    top: 25px;
    right: 0px;
}
*/

/*
.Hello,
.Hi,
.How {
  padding: 0px;
  background: green;
  margin-top: 30px;
  margin-left: 15px;
  height: 40px;
}

.generalTitle label {
  font-weight: bold;
}
*/
/*
 .vatnumberinputbox {
    width: 500px; height: 40px; padding: 7px; border-radius: 5px;    
 }

 .inputbox{
    width: 300px; height: 40px; padding: 7px; border-radius: 5px;    
 }

.inputboxofficename {
    width: 200px; height: 40px; padding: 7px; border-radius: 5px;    
}

.inputboxlegal {
    width: 150px; height: 40px; padding: 7px; border-radius: 5px;    
}

 .newinputbox {
    width: 150px; height: 40px; padding: 7px; border-radius: 5px;    

 }

 .creditlimit {
    width: 250px; height: 40px; padding: 7px; border-radius: 5px;
 }
.creditCheck {
   margin-top:10px; margin-left:10px; 
}
*/

/*
.officialName {
  width: 300px;
}

.validationbox {
  margin-left: 60px;
  margin-top: 30px;
}
.validationboxnew {
  width: 100px;
  height: 25px;
  margin-top: 15px;
  margin-right: 25px;
  padding: 15px;
}
.contractemail {
  width: 400px;
  height: 40px;
  padding: 7px;
  border-radius: 5px;
}

.generalemail {
  width: 400px;
  height: 40px;
  padding: 7px;
  border-radius: 5px;
}
.generalEmailTemplate {
  margin-top: 0px;
  height: 50px;
}

*/
