<div class="headquarters">
    <!-- <div class="generalTitle">
        <label class="titleLabel">Headquarters</label>
      </div> -->

      <form [formGroup]="HQForm" id="hqform">
        <!-- <pre>{{ HQForm.value | json}}</pre> -->
        <!-- <pre>{{ HQForm.status | json }}</pre> -->

        <!--<pre>{{ message }}</pre> -->

        <pre>{{ErrorResponseMessage}}</pre>

      <div class="row" style="padding-bottom:10px;">

        <div class="col-sm-5 inputWithImg">
          <label class="titleBold"> Ondernemingsnummer: </label>
          <input (blur)= "creditLimitApi()" formControlName="vatNumber" name="vatNumber" class="form-control" type="text" required/>
          <div class="form-control-feedback" *ngIf="HQForm.controls.vatNumber.invalid && (HQForm.controls.vatNumber.dirty || HQForm.controls.vatNumber.touched || HQForm.controls.vatNumber.untouched ) else valid"> 
              <img src="../../assets/img/InvalidIcon.png" alt="" >
          </div>
          <ng-template #valid>
              <img src="../../assets/img/ValidIcon.png" alt="" >
          </ng-template>
        </div>
      
        <div class="col-sm-4">
            <div class="creditCheck">
                <label class="titleBold"> Krediet Check Ok? </label>
            </div>
            <ui-switch (change)="onChange($event)" size="small"> </ui-switch> &nbsp;
        </div>
      
        <div class="col-sm-3">
            <label class="titleBold"> CreditLimit: </label>
            <input formControlName="creditLimit" class="form-control" name="creditlimit" />
        </div>

    </div>

      <div class="row" style="padding-bottom:10px;">
          <div class="col-sm-5 inputWithImg">
            <label class="titleBold"> Naam: </label>
            <input formControlName="firstname" class="form-control" name="firstname" type="text" required/>
            <div class="form-control-feedback" *ngIf="HQForm.controls.firstname.invalid && (HQForm.controls.firstname.untouched || HQForm.controls.firstname.dirty || HQForm.controls.firstname.touched) else valida"> 
              <img src="../../assets/img/InvalidIcon.png" alt="">
            </div>
            <ng-template #valida>
              <img src="../../assets/img/ValidIcon.png" alt="">
            </ng-template>                         
          </div>

          <div class="col-sm-4 inputWithImg">
              <label class="titleBold"> officele naam: </label>
              <input formControlName="officialname" class="form-control" name="officialname" type="text" required/>
              <div class="form-control-feedback" *ngIf="HQForm.controls.officialname.invalid && (HQForm.controls.officialname.untouched || HQForm.controls.officialname.dirty || HQForm.controls.officialname.touched) else newvalid"> 
                      <img src="../../assets/img/InvalidIcon.png" alt="">
                  </div>
                  <ng-template #newvalid>
                      <img src="../../assets/img/ValidIcon.png" alt="" >
                  </ng-template>
                                    
          </div>
        
          <div class="col-sm-3 inputWithImg">
              <label class="titleBold"> LegalForm: </label> 
              <app-legal (childEvent)="receiveMessage($event)" [legalFormData]="legalString"></app-legal>          
          </div>
      </div>
  
      <div class="row" style="padding-bottom:10px;">        
          <div class="col-sm-5 inputWithImg">
              <label class="titleBold"> straat: </label>
              <input formControlName="street" class="form-control" name="street" type="text" required/>
              <div class="form-control-feedback" *ngIf="HQForm.controls.street.invalid && (HQForm.controls.street.untouched || HQForm.controls.street.dirty || HQForm.controls.street.touched) else validc"> 
                  <img src="../../assets/img/InvalidIcon.png" alt="">
              </div>
              <ng-template #validc>
                  <img src="../../assets/img/ValidIcon.png" alt="" >
              </ng-template>                      
          </div>
        
          <div class="col-sm-3 inputWithImg">
            <label class="titleBold"> Nr: </label>
              <input formControlName="streetnumber" class="form-control" name="streetnumber" type="text" required/>
              <div class="form-control-feedback" *ngIf="HQForm.controls.streetnumber.invalid && (HQForm.controls.streetnumber.untouched || HQForm.controls.streetnumber.dirty || HQForm.controls.streetnumber.touched) else validn"> 
                  <img src="../../assets/img/InvalidIcon.png" alt="" >
              </div>
              <ng-template #validn>
                  <img src="../../assets/img/ValidIcon.png" alt="" >
              </ng-template>
          </div>
        
          <div class="col-sm-3 inputWithImg">
            <label class="titleBold"> Bus: </label>
            <input formControlName="bus" class="form-control" name="bus"  type="text" required/>
            <div class="form-control-feedback" *ngIf="HQForm.controls.bus.invalid && ( HQForm.controls.bus.dirty || HQForm.controls.bus.touched) else validq"> 
                <img src="../../assets/img/InvalidIcon.png" alt="">
            </div>
            <ng-template #validq>
                <img src="../../assets/img/ValidIcon.png" alt="">
            </ng-template>
          </div>
      </div>

      <div class="row" style="padding-bottom:10px;">
          <div class="col-sm-5 inputWithImg">
              <label class="titleBold"> Plaats: </label>
              <input formControlName="city"  class="form-control" name="city" type="text" required/>
              <div class="form-control-feedback" *ngIf="HQForm.controls.city.invalid && (HQForm.controls.city.untouched || HQForm.controls.city.dirty || HQForm.controls.city.touched) else valids"> 
                  <img src="../../assets/img/InvalidIcon.png" alt="" >
              </div>
              <ng-template #valids>
                  <img src="../../assets/img/ValidIcon.png" alt="" >
              </ng-template>
          </div>
        
          <div class="col-sm-3 inputWithImg">
            <label class="titleBold"> postcode: </label>
            <input formControlName="postalcode"  class="form-control" name="postalcode" type="text" required/>
            <div class="form-control-feedback" *ngIf="HQForm.controls.postalcode.invalid && (HQForm.controls.postalcode.untouched || HQForm.controls.postalcode.dirty || HQForm.controls.postalcode.touched) else validw"> 
                <img src="../../assets/img/InvalidIcon.png" alt="" >
            </div>
            <ng-template #validw>
                <img src="../../assets/img/ValidIcon.png" alt="" >
            </ng-template>
          </div>
        
          <div class="col-sm-3">
              <label class="titleBold"> Land: </label>
              <app-countries (childEvent)="receiveMessageCountry($event)" [CountryFormData]="countryString"></app-countries>           
          </div>
      </div>

      <div class="row" style="padding-bottom:10px;">
          <div class="col-sm-5 inputWithImg">
                     <label class="titleBold"> phonenumber: </label>
                     <input formControlName="phonenumber"  class="form-control" name="phonenumber" type="text" required/>
                     <div class="form-control-feedback" *ngIf="HQForm.controls.phonenumber.invalid && (HQForm.controls.phonenumber.untouched || HQForm.controls.phonenumber.dirty || HQForm.controls.phonenumber.touched) else validf"> 
                         <img src="../../assets/img/InvalidIcon.png" alt="" >
                     </div>
                     <ng-template #validf>
                         <img src="../../assets/img/ValidIcon.png" alt="" >
                     </ng-template>
          </div>
                
          <div class="col-sm-7 inputWithImg">
                  <label class="titleBold"> Algemeen E-mail address: </label>
                  <input type="email"  formControlName="generalEmail" class="form-control" name="generalEmail" required/>
                  <div class="form-control-feedback" *ngIf="HQForm.controls.generalEmail.invalid && (HQForm.controls.generalEmail.untouched || HQForm.controls.generalEmail.dirty || HQForm.controls.generalEmail.touched) else validj"> 
                      <img src="../../assets/img/InvalidIcon.png" alt="" >
                  </div>
                  <ng-template #validj>
                      <img src="../../assets/img/ValidIcon.png" alt="" >
                  </ng-template>           
          </div>
      </div>

      <div class="row" style="padding-bottom:10px;">
          <div class="col-sm-5 inputWithImg">
                      <label class="titleBold"> Facturatie e-mail address: </label>
                      <input type="email" formControlName="invoiceEmail" class="form-control" name="invoiceEmail"  />
                      <div class="form-control-feedback" *ngIf="HQForm.controls.invoiceEmail.invalid && (HQForm.controls.invoiceEmail.untouched || HQForm.controls.invoiceEmail.dirty || HQForm.controls.invoiceEmail.touched) else validi"> 
                          <img src="../../assets/img/InvalidIcon.png" alt="" >
                        </div>
                        <ng-template #validi>
                            <img src="../../assets/img/ValidIcon.png" alt="" >
                        </ng-template>
          </div>
              
          <div class="col-sm-7 inputWithImg">
                    <label class="titleBold"> Contracten e-mail address: </label>
                    <input type="email" (blur)="updateData()" formControlName="contractsEmail" class="form-control" name="contractsEmail"  />
                      <div class="form-control-feedback" *ngIf="HQForm.controls.contractsEmail.invalid && (HQForm.controls.contractsEmail.untouched || HQForm.controls.contractsEmail.dirty || HQForm.controls.contractsEmail.touched) else validv"> 
                          <img src="../../assets/img/InvalidIcon.png" alt="" >
                      </div>
                      <ng-template #validv>
                              <img src="../../assets/img/ValidIcon.png" alt="" >
                          </ng-template>
          </div>
      </div>

     
    </form>

</div>

