<app-headers [CustomerVatNumber]="vatNumber" [customerName]="CustomerName"></app-headers>
<app-menu [SelectedPage]="SelectedPage"></app-menu>
<div class="container">
  <div class="row">
    <div class="col col-sm-12 center-block">
      <img src="../../assets/svg/updateCustomer.svg" style="left:-15" /><br />
      <div class="pagehead">{{ CustomerName }}</div>
    </div>
  </div>
  <div class="row" id="formState">
    <div class="col col-sm-12"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-4">
      <div class="rline">
        <div class="sidemenus" [ngClass]="{active: currentPage==='workschedules'}">
          <button (click)="currentPage='workschedules'">
            <img src="./assets/svg/calander.svg" />Mijn werkroosters
          </button>
        </div>
        <div class="sidemenus" [ngClass]="{active: currentPage==='positions'}">
          <button (click)="currentPage='positions'">
            <img src="./assets/svg/position.svg" />Mijn functies
          </button>
        </div>
        <div class="sidemenus" [ngClass]="{active: currentPage==='users'}">
          <button (click)="currentPage='users'">
            <img src="./assets/svg/users.svg" />Mijn gebruikers
          </button>
        </div>
        <div class="sidemenus" [ngClass]="{active: currentPage==='locations'}">
          <button (click)="currentPage='locations'">
            <img src="./assets/svg/location.svg" />Mijn vestigingen
          </button>
        </div>
        <div class="sidemenus" [ngClass]="{active: currentPage==='editcustomer'}">
          <button (click)="currentPage='editcustomer'">
            <img src="./assets/svg/customers.svg" />Mijn bedrijfsgegevens
          </button>
        </div>
        <div *ngIf="currentPage==='editcustomer'">
          <button class="greenbtn" id="btnSave" (click)="onFormwardClick()"><span>Gegevens opslaan</span></button>
        </div>

      </div>
    </div>
    <div class="col col-sm-8" id="maincontentarea">
      <div class="scrollbar" id="maincontent">
        <div *ngIf="currentPage==='workschedules'">
          <app-workschedules [CustomerVatNumber]="vatNumber">
          </app-workschedules>
        </div>
        <div *ngIf="currentPage==='positions'">
          <app-positions [CustomerVatNumber]="vatNumber"></app-positions>
        </div>
        <div *ngIf="currentPage==='users'">
          <app-users [CustomerVatNumber]="vatNumber"></app-users>
        </div>
        <div *ngIf="currentPage==='locations'">
          <app-locations [CustomerVatNumber]="vatNumber"></app-locations>
        </div>
        <div *ngIf="currentPage==='editcustomer'">
          <app-editcustomer (childEvent)="receiveEditCustomerData($event)" [CustomerVatNumber]="vatNumber">
          </app-editcustomer>
        </div>
      </div>
    </div>
  </div>
</div>