<app-headers></app-headers>
<app-menu></app-menu>
<div class="row">
  <div class="col col-sm-3"></div>
  <div class="col col-sm-6 center-block">
    <img src="../../assets/svg/updateCustomer.svg" style="left:-15" /><br />
    <div class="pagehead">{{ CustomerName }}</div>
  </div>
  <div class="col col-sm-3"></div>
</div>

<div class="row" id="formState">
  <div class="col col-sm-12"></div>
</div>
<div class="row">
  <div class="col col-sm-1"></div>
  <div class="col col-sm-11">
    <div class="row">
      <div class="col col-sm-3">
        <div class="rline">
          <div class="sidemenus" [ngClass]="{active: currentPage==='workschedule'}">
            <button (click)="currentPage='workschedule'">
              <img src="./assets/svg/calander.svg" />Mijn Werkroosters
            </button>
          </div>
          <div class="sidemenus" [ngClass]="{active: currentPage==='position'}">
            <button (click)="currentPage='position'">
              <img src="./assets/svg/position.svg" />Mijn Functies
            </button>
          </div>
          <div class="sidemenus" [ngClass]="{active: currentPage==='users'}">
            <button (click)="currentPage='users'">
              <img src="./assets/svg/users.svg" />Mijn Gebruikers
            </button>
          </div>
          <div class="sidemenus" [ngClass]="{active: currentPage==='location'}">
            <button (click)="currentPage='location'">
              <img src="./assets/svg/location.svg" />Mijn Vestigingen
            </button>
          </div>
          <div class="sidemenus" [ngClass]="{active: currentPage==='editcustomer'}">
            <button (click)="currentPage='editcustomer'">
              <img src="./assets/svg/customers.svg" />Mijn Bedrijfsgegevens
            </button>
          </div>
        </div>
      </div>
      <div class="col col-sm-9" id="maincontentarea">
        <div class="scrollbar" id="maincontent">
          <div class="force-overflow">
            <div *ngIf="currentPage==='workschedule'">
              <app-workschedule></app-workschedule>
            </div>
            <div *ngIf="currentPage==='position'">
              <app-position></app-position>
            </div>
            <div *ngIf="currentPage==='users'">
              <app-users></app-users>
            </div>
            <div *ngIf="currentPage==='location'">
              <app-locations></app-locations>
            </div>
            <div *ngIf="currentPage==='editcustomer'">
              <app-editcustomer></app-editcustomer>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>