<div class="row" >
    <div class="col-sm-9" style="height: 1000px; overflow-y:auto; "*ngFor="let customer of customers">
        <h3 class="panel-title">{{ customer.name }}</h3>
        asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>
        asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>
        asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>
        asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>
        asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>
        asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>
        asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>
        asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>
        asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>
        asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>asdsadsd<br/>
    </div>
    <div class="col-sm-3">asfsfasf</div>
</div>
      
      
      