<div class="contactperson">
    <!-- <div class="generalTitle">
        <label class="titleLabel">Contactpersoon</label>
      </div> -->

    <form [formGroup]="CTForm" novalidate id="CTForm">
        <!-- <pre>{{ CTForm.value | json}}</pre> -->
        <!-- <pre>{{ CTForm.valid }}</pre> -->
        <div class="row">
            <div class="col-sm-5 inputWithImg">
                <label class="titleBold"> Voornaam </label>
                <input (change)="updateData()" formControlName="firstname" class="form-control" name="firstname"
                    type="text" required />
                <div class="form-control-feedback"
                    *ngIf="CTForm.controls.firstname.invalid && (CTForm.controls.firstname.untouched || CTForm.controls.firstname.dirty || CTForm.controls.firstname.touched) else newvalid">
                    <img src="../../assets/img/InvalidIcon.png" alt="">
                </div>
                <ng-template #newvalid>
                    <img src="../../assets/img/ValidIcon.png" alt="">
                </ng-template>
            </div>

            <div class="col-sm-3 inputWithImg">
                <label class="titleBold"> Naam </label>
                <input (change)="updateData()" formControlName="lastname" class="form-control" name="lastname"
                    type="text" required />
                <div class="form-control-feedback"
                    *ngIf="CTForm.controls.lastname.invalid && (CTForm.controls.lastname.untouched || CTForm.controls.lastname.dirty || CTForm.controls.lastname.touched) else anewvalid">
                    <img src="../../assets/img/InvalidIcon.png" alt="">
                </div>
                <ng-template #anewvalid>
                    <img src="../../assets/img/ValidIcon.png" alt="">
                </ng-template>
            </div>

            <div class="col-sm-4">
                <label class="titleBold"> Taal </label>
                <app-languages (childEvent)="receiveMessageLanguage($event)" [LanguageFormData]="languageString">
                </app-languages>
                <!-- <input formControlName="language" class="form-control" name="language" type="text" required/> -->
                <!-- <div class="form-control-feedback" *ngIf="CTForm.controls.language.invalid && (CTForm.controls.language.dirty || CTForm.controls.language.touched) else bnewvalid"> 
                    <img src="../../assets/img/InvalidIcon.png" alt="" >
                </div> -->
                <!-- <ng-template #bnewvalid>
                    <img src="../../assets/img/ValidIcon.png" alt="">
                </ng-template> -->
            </div>

        </div>



        <div class="row">
            <div class="col-sm-6 inputWithImg">
                <label class="titleBold"> Functie </label>
                <input (change)="updateData()" formControlName="position" class="form-control" name="position"
                    type="text" required />
                <div class="form-control-feedback"
                    *ngIf="CTForm.controls.position.invalid && (CTForm.controls.position.invalid || CTForm.controls.position.dirty || CTForm.controls.position.touched) else cnewvalid">
                    <img src="../../assets/img/InvalidIcon.png" alt="">
                </div>
                <ng-template #cnewvalid>
                    <img src="../../assets/img/ValidIcon.png" alt="">
                </ng-template>
            </div>

            <div class="col-sm-6 inputWithImg">
                <label class="titleBold"> E-mail adres </label>
                <input (change)="updateData()" formControlName="emailaddress" class="form-control" name="emailaddress"
                    type="email" />
                <div class="form-control-feedback"
                    *ngIf="CTForm.controls.emailaddress.invalid && (CTForm.controls.emailaddress.untouched || CTForm.controls.emailaddress.dirty || CTForm.controls.emailaddress.dirty || CTForm.controls.emailaddress.touched) else dnewvalid">
                    <img src="../../assets/img/InvalidIcon.png" alt="">
                </div>
                <ng-template #dnewvalid>
                    <img src="../../assets/img/ValidIcon.png" alt="">
                </ng-template>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 inputWithImg">
                <label class="titleBold"> Mobiel nummer </label>
                <input (change)="updateData()" formControlName="mobile" class="form-control" name="mobile"
                    type="text" />
                <div class="form-control-feedback"
                    *ngIf="CTForm.controls.mobile.invalid && (CTForm.controls.mobile.untouched || CTForm.controls.mobile.dirty || CTForm.controls.mobile.dirty || CTForm.controls.mobile.touched) else enewvalid">
                    <img src="../../assets/img/InvalidIcon.png" alt="">
                </div>
                <ng-template #enewvalid>
                    <img src="../../assets/img/ValidIcon.png" alt="">
                </ng-template>

            </div>

            <div class="col-sm-4 inputWithImg">
                <label class="titleBold"> Telefoonnummer </label>
                <input (change)="updateData()" formControlName="telephone" class="form-control" name="telephone"
                    type="text" />
                <div class="form-control-feedback"
                    *ngIf="CTForm.controls.telephone.invalid && (CTForm.controls.telephone.invalid || CTForm.controls.telephone.dirty || CTForm.controls.telephone.dirty || CTForm.controls.telephone.touched) else fnewvalid">
                    <img src="../../assets/img/InvalidIcon.png" alt="">
                </div>
                <ng-template #fnewvalid>
                    <img src="../../assets/img/ValidIcon.png" alt="">
                </ng-template>
            </div>

            <div class="col-sm-4 center-block middle-block">
                <label class="titleBold"> Alls gebruiker activeren? </label><br />
                <ui-switch (change)="changeAls($event)" size="small"> </ui-switch> &nbsp;
            </div>
        </div>

    </form>
</div>