<div id="bgimgs">
  <div id="LoginDiv">
    <div id="facebook"><a href="https://www.facebook.com/Digital-Payroll-Services-381208119011833" target="_blank"><img
          src="./../../../assets/svg/FacebookIcon.svg" /></a></div>
    <div id="linkedin">
      <a href="https://www.linkedin.com/company/boemm-best-of-employment-market-and-matching/" target="_blank">
        <img src="./../../../assets/svg/LinkedinIcon.svg" />
      </a>
    </div>
    <img src="./../../../assets/svg/circle.svg" class="circle" />
    <img src="./../../../assets/img/loginboxright.png" class="bgimg" />
    <img src="./../../../assets/svg/LoginRectangle.svg" class="rectangle" />
    <div class="leftcontainer">
      <img src="./../../../assets/img/logindpslogo.png" class="dpslogo" />
      <img src="./../../../assets/svg/BOEMM.svg" class="boemmlogo" />
    </div>
    <div id="weblink"><a href="https://www.digitalpayrollservices.be/nl" target="_blank"><img
          src="./../../../assets/svg/globle.svg" />
        Ga naar onze website.</a></div>
  </div>
</div>