<div id="maincontentarea" class="updateModel">
    <div class="row ">
        <div class="col-sm-12 mat-dialog-close">
            <button mat-button [mat-dialog-close]="currentPosition" class=""><img
                    src="../../../../../assets/svg/closebox.svg" /></button>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 center-block head">
            <img src='../../../assets/svg/PositionHead.svg'>
            <br /> <label>Work Time</label>
            <hr>
        </div>
    </div>
     <form [formGroup]="WorkTimeForm" novalidate id="WorkTimeForm"> 
        <div id="maincontent">
            <div class="customerBox">
                <div class="row panelheader">
                    <div class="col col-sm-5 fright">
                        <h4>Work Time</h4>
                        <hr />
                    </div>
                </div>
                <div class="row customerBoxContect">
                    <div class="col col-sm-12">                                      
                        <div class="row">
                            <div class="col-sm-6 inputWithImg">
                                <label class="titleBold"> Start Time: </label>
                                <timepicker [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}"></timepicker>
                                <!-- <pre class="alert alert-info">Time is: {{startTime}}</pre> -->
                            </div>
                            <div class="col-sm-6 inputWithImg">
                                <label class="titleBold"> End Time: </label>
                                <timepicker [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}"></timepicker>
                                <!-- <pre class="alert alert-info">Time is: {{startTime}}</pre> -->
                            </div>
                        </div>                    
                    </div>                    
                </div>
            </div> 
            <div class="row">
                <div class="col col-sm-12 center-block">
                    <button class="greenbtn" id="btnSave" (click)="onSaveClick()"><span>Functie opslaan</span>
                    </button>
                </div>
            </div>
        </div>
    </form> 
</div>