<div id="from1">
  <div id="CustomerDetails" class="customerBox">
    <div class="row panelheader">
      <div class="col col-sm-5 fright">
        <h4>Hoofdzetel</h4>
        <hr />
      </div>
      <div class="col col-sm-7"></div>
    </div>
    <app-headquarters [HQFormData]="editObject" (childEvent)="receiveHQdata($event)"></app-headquarters>
  </div>
  <div id="CustomerContact" class="customerBox">
    <div class="row panelheader">
      <div class="col col-sm-5 fright">
        <h4>Contactpersoon</h4>
        <hr />
      </div>
      <div class="col col-sm-7"></div>
    </div>
    <app-contactperson [CTFormData]="editObject" (childEvent)="receiveCTdata($event)"></app-contactperson>
  </div>
  <div id="CustomerDetails" class="customerBox">
    <div class="row panelheader">
      <div class="col col-sm-5 fright">
        <h4>Algemeen</h4>
        <hr />
      </div>
      <div class="col col-sm-7"></div>
    </div>
    <app-general [GLFormData]="editObject" (childEvent)="receiveGeneralObject($event)"></app-general>
  </div>
  <div id="CustomerContact" class="statuteBox">
      <app-statute [STFormData]="editObject" (childEvent)="receiveStatuteData($event)"></app-statute>
      <app-invoice-settings [FPFormData]="editObject" (childEvent)="receiveInvoiceData($event)"></app-invoice-settings>
    </div>    
</div>


