<form [formGroup]="SForm" novalidate id="SForm">

  <div class="error">{{ errorMsg }}</div>
      <!-- SForm.controls.statuteArray.controls -->

  <div class="customerBox" *ngFor="let statute of statutes; let i= index" [attr.data-index]="i">
    <div class="row panelheader">
      <div class="col col-sm-5 fright">
        <h4> {{ statute.name }} </h4>
        <hr>
      </div>
      <div class="col col-sm-7"></div>
    </div>
    <div class="row">
      <div class="col col-sm-8"><label class="titleBold">Paritair Comité</label>
        <app-jointcommittee [TypeWorker]="TypeWorker[i]" (childEvent)="receiveJTdata($event,i)" [JCFormData]="JCString[i]"></app-jointcommittee>
      </div>
      <div class="col col-sm-4"><label class="titleBold">Coëfficient </label>

        <div class="row">

            <div class="form-group" *ngIf="i < countStatutes else coeff">
                <input #coefficientBox (change)="onChangeCoefficient(coefficientBox.value,i)" value="{{statuteSettings[i].coefficient}}" type="text" class="form-control">
            </div>
            <ng-template #coeff>
                <div class="form-group">
                  here
                    <input  #coefficientBox  (change)="onChangeCoefficient(coefficientBox.value,i)" value="0" type="text" class="form-control">
                </div>
            </ng-template>

        </div>
      </div>
    </div>
    <div class="row mealrow">
      <div class="col col-sm-12" *ngIf="totalArray[i] === 0 && wegervaalArray[i] === 0 && minimumurenArray[i] === 0 else disabledclause">
        <!-- <input type="hidden" value="{{isMealEnabled[i]}}"> -->
           <ui-switch [checked]="false" (change)="onMealChange($event,i)"></ui-switch>
      </div>
      <ng-template #disabledclause>
        <ui-switch [checked]="true" (change)="onMealChange($event,i)"></ui-switch>
      </ng-template>
    </div>
      
    <!-- <ng-container *ngIf="isMealEnabled[i]===true"> -->
          <div class="row" *ngIf="isMealEnabled[i]===true">
              <div style="display: flex; justify-content: space-evenly;">
            <div class="col col-sm-4 inputWithEuro">Totalewaarde<input (change)="totalChange(totalwaarde.value,i)"
               value="{{totalArray[i]}}"  class="form-control" type="number"
              #totalwaarde><i class="fa fa-eur" aria-hidden="true"></i></div>

            <div class="col col-sm-4 inputWithEuro">Werkgeversdeel<input (change)="WergeversdeelChange(wergeversdeel.value,i)"
              value="{{wegervaalArray[i]}}"  class="form-control" type="number"
              #wergeversdeel ><i class="fa fa-eur" aria-hidden="true"></i>
            </div>

            <div class="col col-sm-4 inputWithNoIcon">Minimum uren <input (change)="minimumUrenChange(minimumuren.value,i)"
              value="{{minimumurenArray[i]}}"  class="form-control" type="number"
              #minimumuren ></div>
        </div>
      </div>
    <!-- </ng-container>     -->
  </div>
</form>
