<div id="maincontentarea" class="updateModel">
    <div class="row ">
        <div class="col-sm-12 mat-dialog-close">
            <button mat-button [mat-dialog-close]="currentUser" class=""><img
                    src="../../../../../assets/svg/closebox.svg" /></button>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 center-block head">
            <img src='../../../assets/svg/UserUpdate.svg'>
            <br /> <label>Gebruiker aanmaken / Wijzigen</label>
            <hr>
        </div>
    </div>
    <form [formGroup]="UserForm" novalidate id="UserForm">
        <div class="contactperson" id="maincontent">
            <div class="row">
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Voorname: </label>
                    <input formControlName="firstname" class="form-control" name="firstname" type="text" required />
                    <div class="form-control-feedback"
                        *ngIf="UserForm.controls.firstname.invalid && (UserForm.controls.firstname.dirty || UserForm.controls.firstname.touched) else newvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #newvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>

                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Achternaam: </label>
                    <input formControlName="lastname" class="form-control" name="lastname" type="text" required />
                    <div class="form-control-feedback"
                        *ngIf="UserForm.controls.lastname.invalid && (UserForm.controls.lastname.dirty || UserForm.controls.lastname.touched) else anewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #anewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> E-mail adres: </label>
                    <input formControlName="emailaddress" class="form-control" name="emailaddress" type="email"
                        [readonly]="!isNewUser" />
                    <div class="form-control-feedback"
                        *ngIf="UserForm.controls.emailaddress.invalid && (UserForm.controls.emailaddress.dirty || UserForm.controls.emailaddress.touched) else dnewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #dnewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold">Type gebruiker: </label>
                    <input formControlName="usertype" class="form-control" name="usertype" type="text" />
                    <div class="form-control-feedback"
                        *ngIf="UserForm.controls.usertype.invalid && (UserForm.controls.usertype.dirty || UserForm.controls.usertype.touched) else cnewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #cnewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 inputWithImg">
                    <label class="titleBold"> Mobiel nummer: </label>
                    <input formControlName="mobile" class="form-control" name="mobile" type="number" />
                    <div class="form-control-feedback"
                        *ngIf="UserForm.controls.mobile.invalid && (UserForm.controls.mobile.dirty || UserForm.controls.mobile.touched) else enewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #enewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>
                <div class="col-sm-4 inputWithImg">
                    <label class="titleBold"> Vast nummer: </label>
                    <input (blur)="updateData()" formControlName="telephone" class="form-control" name="telephone"
                        type="text" />
                    <div class="form-control-feedback"
                        *ngIf="UserForm.controls.telephone.invalid && (UserForm.controls.telephone.dirty || UserForm.controls.telephone.touched) else fnewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #fnewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>
                <div class="col-sm-4 inputWithImg">
                    <label class="titleBold"> Taal: </label>
                    <app-languages (childEvent)="receiveMessageLanguage($event)" [LanguageFormData]="languageString">
                    </app-languages>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-12 center-block">
                <button class="greenbtn" id="btnSave" (click)="onSaveUserClick()"><span>Gebruiker opslaan</span>
                </button>
            </div>

        </div>
    </form>
</div>