nav {position: fixed;background: #00032b;z-index: 100000;}
nav a {display: inline-block; vertical-align: middle;text-align: center; text-decoration: none;border: 0px;border:none;}
nav a img {width: 16px;height: 16px;border: 0px;border:none; }

nav {border-radius: 12px;width: 24px;margin-left: 12px;height: 144px;}
nav a {width:24px; height:24px; line-height: 24px;}
nav a:nth-child(1){margin-top:12px;}
nav a:nth-last-child(1){margin-bottom:12px;}  

#home{background: url("../../assets/svg/home.svg") no-repeat;background-size: contain; background-position: center; } #home:hover{background: url("../../assets/svg/home_hover.svg") no-repeat;background-size: contain; background-position: center; }
#customer{background: url("../../assets/svg/customer.svg") no-repeat;background-size: contain; background-position: center; }#customer:hover{background: url("../../assets/svg/customer_hover.svg") no-repeat;background-size: contain; background-position: center; }
#schedule{background: url("../../assets/svg/schedule.svg") no-repeat;background-size: contain; background-position: center; }#schedule:hover{background: url("../../assets/svg/schedule_hover.svg") no-repeat;background-size: contain; background-position: center; }
#settings{background: url("../../assets/svg/setting.svg") no-repeat;background-size: contain; background-position: center; }#settings:hover{background: url("../../assets/svg/setting_hover.svg") no-repeat;background-size: contain; background-position: center; }
#logout{background: url("../../assets/svg/logout.svg") no-repeat;background-size: contain; background-position: center; }#logout:hover{background: url("../../assets/svg/logout_hover.svg") no-repeat;background-size: contain; background-position: center; }

@media (min-width:420px) {
    nav {border-radius: 16px;width: 32px;margin-left: 16px;height: 192px;}
    nav a {width:32px; height:32px; line-height: 32px;}
    nav a:nth-child(1){margin-top:16px;}
    nav a:nth-last-child(1){margin-bottom:16px;}  
    nav a img {width: 20px;height: 20px;}
}
@media (min-width:600px) {    
    nav {border-radius: 24px;width: 48px;margin-left: 24px;height: 288px;}
    nav a {width:48px; height:48px; line-height: 48px;}
    nav a:nth-child(1){margin-top:24px;}
    nav a:nth-last-child(1){margin-bottom:24px;}  
    nav a img {width: 28px;height: 28px;}
}
@media (min-width:920px) {    
    nav {border-radius: 32px;width: 64px;margin-left: 64px;height: 384px;}
    nav a {width:64px; height:64px; line-height: 64px;}
    nav a:nth-child(1){margin-top:32px;}
    nav a:nth-last-child(1){margin-bottom:32px;}  
    nav a img {width: 42px;height: 42px;}
}