<div class="updateModel">
    <div class="row ">
        <div class="col-sm-12 mat-dialog-close">
            <button mat-button [mat-dialog-close]="currentLocation" class=""><img
                    src="../../../../../assets/svg/closebox.svg" /></button>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 center-block head">
            <img src='../../../assets/svg/locationHead.svg'>
            <br /> <label>Vestiging aanmaken / wijzigen</label>
            <hr>
        </div>
    </div>
    <form [formGroup]="LocationForm" novalidate name="LocationForm" id="LocationForm">
        <div class="contactperson">
            <div class="row">
                <div class="col-sm-12 inputWithImg">
                    <label class="titleBold"> Naam </label>
                    <input formControlName="name" class="form-control" name="name" type="text" required />
                    <div class="form-control-feedback"
                        *ngIf="LocationForm.controls.name.invalid && (LocationForm.controls.name.dirty || LocationForm.controls.name.touched) else newvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #newvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Straat </label>
                    <input formControlName="street" class="form-control" name="street" />
                    <div class="form-control-feedback"
                        *ngIf="LocationForm.controls.street.invalid && (LocationForm.controls.street.dirty || LocationForm.controls.street.touched) else dnewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #dnewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>
                <div class="col-sm-3 inputWithImg">
                    <label class="titleBold">Nummer </label>
                    <input formControlName="number" class="form-control" name="number" />
                    <div class="form-control-feedback"
                        *ngIf="LocationForm.controls.number.invalid && (LocationForm.controls.number.dirty || LocationForm.controls.number.touched) else cnewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #cnewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>
                <div class="col-sm-3 inputWithImg">
                    <label class="titleBold">Bus </label>
                    <input formControlName="bus" class="form-control" name="bus" />
                    <div class="form-control-feedback"
                        *ngIf="LocationForm.controls.bus.invalid && (LocationForm.controls.bus.dirty || LocationForm.controls.bus.touched) else cnewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #cnewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4 inputWithImg">
                    <label class="titleBold"> Plaats </label>
                    <input formControlName="place" class="form-control" name="place" />
                    <div class="form-control-feedback"
                        *ngIf="LocationForm.controls.place.invalid && (LocationForm.controls.place.dirty || LocationForm.controls.place.touched) else enewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #enewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>
                <div class="col-sm-4 inputWithImg">
                    <label class="titleBold"> Postcode </label>
                    <input (blur)="updateData()" formControlName="postcode" class="form-control" name="postcode" />
                    <div class="form-control-feedback"
                        *ngIf="LocationForm.controls.postcode.invalid && (LocationForm.controls.postcode.dirty || LocationForm.controls.postcode.touched) else fnewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #fnewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>

                <div class="col-sm-4 inputWithImg">
                    <label class="titleBold"> Land </label>
                    <app-countries (childEvent)="receiveMessageCountry($event)" [CountryFormData]="countryString">
                    </app-countries>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 center-block">
            <button class="greenbtn" id="btnSave" (click)="onSaveLocationClick()"><span>Vestiging opslaan</span>
            </button>
        </div>
    </form>
</div>