<!-- <div class="updateModel"> -->

<form [formGroup]="CancelContractForm" novalidate name="CancelContractForm" id="CancelContractForm">
    <div class="row center-block">
        <div class="col-sm-12 mat-dialog-close">
            <button mat-button (click)="onCloseCancelContract()" class=""><img
                    src="../../../../../assets/svg/closebox.svg" /></button>
        </div>
    </div>
    <div class="contactperson">
        <div class="row">
            <div class="col-sm-12 inputWithImg">
                <label class="titleBold"> Reden voor annulatie contract: </label>
                <textarea formControlName="reasonForcancellation" class="form-control" rows="5"
                    name="reasonForcancellation"></textarea>
                <div class="form-control-feedback"
                    *ngIf="CancelContractForm.controls.reasonForcancellation.invalid && (CancelContractForm.controls.reasonForcancellation.dirty || CancelContractForm.controls.reasonForcancellation.touched) else newvalid">
                    <img src="../../assets/img/InvalidIcon.png" alt="">
                </div>
                <ng-template #newvalid>
                    <img src="../../assets/img/ValidIcon.png" alt="">
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col col-sm-12 center-block">
        <button class="greenbtn" id="btnSave" (click)="onCancelContractClick()" mat-button
            [mat-dialog-close]="currentContract"><span>Contract annuleren</span>
        </button>
    </div>
</form>
<!-- </div> -->