<div class="row Header">
  <div class="col col-sm-1 fright">
    <img src="../../../../assets/svg/schedule.svg" class="headIcon">
  </div>
  <div class="col col-sm-8 Heading">PLANNING</div>
  <div class="col col-sm-3">
    <div class="weeks">
      <div class="calenderLeft"><button><img src="../../../../assets/svg/arrow-left.svg" /></button></div>
      <div class="week">
        <div class="weekdates">11-17 feb. 2019</div>
        <div class="weekno">Week - 7</div>
      </div>
      <div class="calenderRight"><button><img src="../../../../assets/svg/arrow-right.svg" /></button></div>
    </div>
  </div>
</div>
<div class="row Dates">
  <div class="col col-sm-4"><input type="text" placeholder="Zoeken…"></div>
  <div class="col col-sm-6">
    <div class="row">
      <div class="col col-sm-4"></div>
    </div>
  </div>
  <div class="col col-sm-2"></div>
</div>
<div id="PersonContents">
  <div class="row">

  </div>
</div>
<div id="PersonButtons" class="row">
  <div class="col col-sm-3 ">
    <button class="greybtn"><img src="../../../../assets/svg/AddPerson.svg" alt="">Persoon toevoegen</button>
  </div>
  <div class="col col-sm-4"><button class="greybtn"><img src="../../../../assets/svg/layers.svg" alt="">Bulk
      contracten aanmaken</button>

  </div>
</div>