<div class="row Header">
  <div class="col col-sm-1 fright">
    <img src="../../../../assets/svg/schedule.svg" class="headIcon">
  </div>
  <div class="col col-sm-8 Heading">PLANNING</div>
  <div class="col col-sm-3">
    <div class="weeks">
      <div class="calenderLeft"><button (click)="minusWeek()"><img
            src="../../../../assets/svg/arrow-left.svg" /></button>
      </div>
      <div class="week">
        <div class="weekdates"> {{SelectedDates}}</div>
        <div class="weekno">Week - {{ startDate | week }}</div>
      </div>
      <div class="calenderRight"><button (click)="addWeek()"><img
            src="../../../../assets/svg/arrow-right.svg" /></button></div>
    </div>
  </div>
</div>
<div id="PersonContents">
  <div class="row">
    <div class="col-sm-12 dashboardactioncontent">
      <table>
        <tr class="Dates">
          <td colspan="2" class="col-split col-split-t">
            <div class="search"><img src="../../../../assets/svg/search_white.svg">
              <input type="text" class="search-form" placeholder="Zoeken…" /></div>
          </td>
          <td class="col-split col-split-m">Ma. {{SelectedMonday}}</td>
          <td class="col-split col-split-m">Din. {{SelectedTuesday}}</td>
          <td class="col-split col-split-m">Woe. {{SelectedWednesday}}</td>
          <td class="col-split col-split-m">Don. {{SelectedThursday}}</td>
          <td class="col-split col-split-m">Vrij. {{SelectedFriday}}</td>
          <td class="col-split col-split-m">Zat. {{SelectedSaturday}}</td>
          <td class="col-split col-split-m">Zon. {{SelectedSunday}}</td>
          <td class="col-split col-split-l"></td>
        </tr>
        <tr class="Contents" *ngFor="let personContract of maindatas"
          (click)="OpenUpdatePerson(personContract.dpsPerson.person.socialSecurityNumber.number)">
          <td class="col-split col-split-n">
            <div class="name">
              {{personContract.dpsPerson.person.firstName + ' '+ personContract.dpsPerson.person.lastName}}</div>
            <div class="position">{{personContract.PositionName}}</div>
          </td>
          <td class="col-split col-split-f"><button
              (click)="openContractDialog(personContract.dpsPerson.person.socialSecurityNumber.number,personContract.dpsContractid)">
              <img src="../../../../assets/svg/checklist_add.svg" *ngIf="personContract.dpsContractid === 0">
              <img src="../../../../assets/svg/checklist_eye.svg" *ngIf="personContract.dpsContractid !== 0">
            </button>
          </td>
          <td class="col-split col-split-m"></td>
          <td class="col-split col-split-m"></td>
          <td class="col-split col-split-m"></td>
          <td class="col-split col-split-m"></td>
          <td class="col-split col-split-m"></td>
          <td class="col-split col-split-m"></td>
          <td class="col-split col-split-m"></td>
          <td class="col-split col-split-l"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div id="PersonButtons" class="row">
  <div class="col col-sm-12 ">
    <button class="greybtn" (click)="OpenAddPersonURL()"><img src="../../../../assets/svg/AddPerson.svg" alt="">Persoon
      toevoegen</button>
    <button class="greybtn" (click)="OpenBulkContractURL()"><img src="../../../../assets/svg/layers.svg" alt="">Bulk
      contracten aanmaken</button>
  </div>
</div>