<div class="error">{{ errorMsg }}</div>
<form [formGroup]="HQForm" novalidate id="hqform">

  <input type="text" style="height: 32px;" class="form-control workcode" [ngStyle]="{'opacity': disabled===false ? '1' : '0.8' }" formControlName="WorkCode" name="WorkCode" readonly (click)="show=true">
  <ng-container *ngIf="show">
    <div class="dialog">
      <div class="compHeader"><button (click)="closeMe()" class="close"><span class="close-thik"></span></button></div>
      <div class=row>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <button class="iconButton" (click)="filter('work')"><img id="Work"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></button>
        </div>
        <div class="col-sm-2">
          <button class="iconButton" (click)="filter('absent')"><img id="Absent"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></button>
        </div>
        <div class="col-sm-2">
          <button class="iconButton" (click)="filter('others')"><img id="Others"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></button>
        </div>
        <div class="col-sm-2">
          <button class="iconButton" (click)="filter('holiday')"><img id="Holiday"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></button>
        </div>
        <div class="col-sm-2">
          <button class="iconButton" (click)="filter('reset')"><img id="Reverse"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></button>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="input-group ng-autocomplete inputWithIcon workSearch">
        <input type="text" class="search-form form-control workcode" (keyup)="oncustomerKeyup($event.target.value)" placeholder="Search" />
        <i class="fa fa-search fa-2"></i>
      </div>
      <div class="content" id="customerContent">
        <div *ngFor="let data of datas let i= index" [attr.data-index]="i">
          <div id="workCodes" *ngIf="data && data.CodeNumber != null && data.Description != undefined ">
            <button (click)="setWorkCode(i)" class="workcodes"
              title="{{ data.CodeNumber }} -  {{ data.Description  }}">{{ data.CodeNumber }} -
              {{ data.Description  }}</button>
          </div>
        </div>        
        <div class="error">{{ errorMsg }}</div>
      </div>
    </div>
  </ng-container>
</form>