<select id="ddl_jointcommittee" class="workcodes selectcomponent">
  <option *ngFor="let workcode of workcodes" [value]="'{&quot;CodeNumber&quot;: ' + workcode.CodeNumber + ',&quot;Description&quot;: &quot;' + workcode.Description + '&quot;,&quot;CodeType&quot;: &quot;' + workcode.CodeType + '&quot;,&quot;ValueType&quot;: &quot;' + workcode.ValueType + '&quot;,&quot;IsDefaultForCodeType&quot;: &quot;' + workcode.IsDefaultForCodeType + '&quot;,&quot;StatuteType&quot;: &quot;' + workcode.StatuteType + '&quot;}'">{{ workcode.CodeNumber + ' - ' + workcode.Description }}</option>
</select>
<div class="error">{{ errorMsg }}</div>
