<app-headers></app-headers>
<app-menu [CustomerVatNumber]="vatNumber" [SelectedPage]="SelectedPage"></app-menu>
<div class="container">
  <div class="row">
    <div class="col col-sm-12 center-block">
      <img src="./assets/svg/updatePerson.svg" style="left:-15" /><br />
      <div class="pagehead">PERSOON AANPASSEN</div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 emptyrow"></div>
  </div>
  <div class="row">
    <div class="col col-sm-4 offset-sm-4">
      <div class="PersonData">
        <div class="PersonInitial showborder-orange">{{PersonInitial}}</div>
        <div class="PersonTitle">{{PersonName}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 emptyrow"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-4">
      <div class="rline">
        <div class="sidemenus" [ngClass]="{active: currentPage==='editperson'}">
          <button (click)="currentPage='editperson'">
            <img src="./assets/svg/users.svg" />Persoonlijke gegevens
          </button>
        </div>
        <div class="sidemenus" [ngClass]="{active: currentPage==='positions'}">
          <button (click)="currentPage='positions'">
            <img src="./assets/svg/position.svg" />Functie
          </button>
        </div>
        <div class="sidemenus" [ngClass]="{active: currentPage==='documents'}">
          <button (click)="currentPage='documents'">
            <img src="./assets/svg/documents.svg" />Documenten
          </button>
        </div>
        <div>
          <button class="greenbtn" id="btnSave" (click)="onFormwardClick()"><span>Gegevens opslaan</span></button></div>
        <div>
          <button class="greenbtn redbtn" id="btnDelete" [disabled]='archiveDisable'
            (click)="archiveClick()"><span>Verwijderen</span></button>
        </div>

      </div>
    </div>
    <div class="col col-sm-8" id="maincontentarea">
      <div class="scrollbar" id="maincontent">
        <div *ngIf="currentPage==='editperson'">
          <app-editperson [SocialSecurityId]="SocialSecurityId"></app-editperson>
        </div>
        <div *ngIf="currentPage==='positions'">
          <app-personposition [SocialSecurityId]="SocialSecurityId"></app-personposition>
        </div>
        <div *ngIf="currentPage==='documents'">
          <app-persondocument [SocialSecurityId]="SocialSecurityId"></app-persondocument>
        </div>
      </div>
    </div>
  </div>
</div>