#forward {
  width: 260px;
  text-align: left;
}
#backward {
  width: 135px;
  text-align: right;
}
#forward img {
  float: right;
}
#backward img {
  float: left;
}
.scrollbar {
  min-height: calc(100vh - 820px);
  /*height: 820px;*/
  overflow-y: scroll;
  padding-right: 0px;
  overflow-x: hidden;
}
#formState {
  font-weight: bold;
  font-size: 12px;
}
.force-overflow {
  min-height: 1000px;
}
#formState {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mw-350 {
  min-width: 350px;
  padding: 0px;
  margin: 0px;
}
.mw-350 hr {
  height: 0.1em;
  border: none;
  padding: 0px;
  margin: 10px 0px;
}
.mw-350 img {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 5px;
  right: -5px;
  z-index: 100;
}
.mw-350 input {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 3px;
  right: -8px;
  background: #c7c7c7;
  z-index: 100;
}

.rline {
  border-right: 1px solid #707070;
  float: right;
  height: auto;
  margin: 0px 25px 0px 0px;
  padding: 12px 35px 100px 12px;
}
.sidemenus img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  padding-right: 15px;
  margin-top: 1px;
  width: 35px;
  height: 35px;
}

.inforow .switch,
.inforow .info,
.inforow .actionbtn {
  min-height: 18px;
  line-height: 18px;
  vertical-align: middle;
  padding: 15px 5px 5px 5px;
}

.inforow .actionbtn {
  padding: 10px 5px 5px 5px;
}

.inforow .switch {
  text-align: right;
}

.inforow .info {
  padding-left: 10px;
}

.inforow .actionbtn button {
  margin: auto;
}

.inforow .actionbtn img {
  width: 18px;
  height: auto;
}
.sidemenus.active button,
.sidemenus.active img {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #212529;
}

button.close {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  float: right;
}

.sidemenus button,
.inforow .actionbtn button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  float: left;
  width: 100%;
  text-align: right;
  margin: 0px;
  padding: 5px 2px;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  vertical-align: middle;
  color: #21252938;
}

.inforow .actionbtn button {
  width: 25px;
  padding: 0px;
  line-height: 25px;
  vertical-align: middle;
}

.row,
.col {
  border: 0px solid;
}

.row {
  border-color: green;
}
.col {
  border-color: yellow;
}

/* PopUp Class Starts*/
.inputWithImg .titleBold {
  padding: 5px 0px;
}
.inputWithImg .titleBoldNew {
  padding: 5px 0px 1px 0px;
}
/*
.updateModel { 
  width: 700px;
  padding: 40px;
  background-image: linear-gradient(104deg, #ffffff, #d8d8d8);
  border-radius: 16px;
}
*/
.contactperson {
  width: 100%;
  padding: 30px;
  border-radius: 16px;
  background-image: linear-gradient(
    104deg,
    rgba(227, 118, 25, 0.25),
    rgba(159, 11, 25, 0.25)
  );
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
}

.center-block {
  text-align: center;
  margin: auto;
  margin: 20px 0px 0px 0px;
}
.UpdateRow .right-block {
  margin: 20px 0px 0px 0px;
}
/*PopUp Class Ends*/

.head label {
  font-weight: bold;
  padding: 10px;
}

.head {
  margin: -10px 0px 0px 0px;
  z-index: 0;
}
.head img {
  width: 54px;
}

.mat-dialog-close,
.editicon {
  text-align: right;
  min-height: none;
  margin-bottom: -15px;
  z-index: 1;
}
.mat-dialog-close button,
.editicon button {
  background: none;
  border: none;
  right: 0px;
  padding: 0px;
  margin-bottom: 0px;
}
.editicon {
  margin: -20px -35px 0px 0px;
}

.editicon button img {
  width: 24px;
  height: 24px;
  margin: auto;
}
.RowEmpty {
  margin: 20px 0px;
}

.cdk-overlay-pane .mat-dialog-container {
  width: 700px;
}

.rb {
  margin-top: 20px;
}

div.customerBox div.customerBoxContect {
  padding: 10px 20px 0px;
}
.whitebtn {
  margin: 0px;
}
.bottom-15 {
  margin-bottom: 15px;
}

.updateModel .greenbtn {
  float: none;
}

.NewRow .col #btnSave.greenbtn,
.NewRow .col #btnCancelEdit.redbtn {
  min-width: 150px;
}
.UpdateRow .col #btnPrint.greenbtn,
.UpdateRow .col #btnExtened.greenbtn,
.UpdateRow .col #btnApprove.greenbtn,
.UpdateRow .col #btnCancelContract.greenbtn {
  min-width: 135px;
}

#errorDisplay {
  margin: 10px 0px 0px 0px;
}

button.Editcontract img {
  content: url("../../../../../assets/svg/editbox.svg");
}
button.Editcontract:disabled img {
  content: url("../../../../../assets/svg/editbox_disabled.svg");
}
