<div class="updateModel">
    <div class="row ">
        <div class="col-sm-12 mat-dialog-close">
            <button mat-button [mat-dialog-close]="" class=""><img src="../../../assets/svg/closebox.svg" /></button>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 center-block head">
            <img src='../../../assets/svg/checklist_add.svg' *ngIf="mode==='new' || mode==='extend'">
            <img src='../../../assets/svg/checklist_eye.svg' *ngIf="mode==='update' || mode==='edit'">
            <br /> <label>{{ mode==='update' ? 'Contract raadplegen' : 'Contract aanmaken' }}</label>
            <hr>
        </div>
    </div>
    <form [formGroup]="ContractForm" novalidate id="ContractForm">
        <div class="contactperson" id="maincontent">

            <ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>
            <div class="row editicon" *ngIf="mode==='update'">
                <div class="col-sm-12">
                    <button name="EditContract" (click)="onEnableEdit()" class="Editcontract"
                        [disabled]='!allowCreateContract || !personIsEnabled || personIsArchived'>
                        <img src="../../../assets/svg/editbox.svg" /></button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Voornaam: </label>
                    <input formControlName="firstname" class="form-control" name="firstname" type="text" required
                        disabled />
                    <div class="form-control-feedback"
                        *ngIf="ContractForm.controls.firstname.invalid && (ContractForm.controls.firstname.dirty || ContractForm.controls.firstname.untouched) else newvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #newvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>

                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Naam: </label>
                    <input formControlName="lastname" class="form-control" name="lastname" type="text" required
                        disabled />
                    <div class="form-control-feedback"
                        *ngIf="ContractForm.controls.lastname.invalid && (ContractForm.controls.lastname.dirty || ContractForm.controls.lastname.untouched) else anewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #anewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Functie: </label><br />
                    <label class="titleNormal">{{positionSelectedName}}</label>
                    <select id="position" name="position" class='form-control' required *ngIf="false"
                        [(ngModel)]='positionSelectedName' (ngModelChange)='onPositionsChange($event)'
                        [ngModelOptions]="{standalone: true}"
                        [disabled]="this.mode=='edit' || this.mode=='update' || this.mode=='extend' ? true : null">
                        <option class='option' *ngFor='let dpsPosition of dpsPositionsData'
                            [value]="dpsPosition.position.name">{{dpsPosition.position.name}}</option>
                    </select>
                </div>
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Contractreden: </label>
                    <select id="contractReason" name="contractReason" class='form-control' required
                        [ngModel]='contractReasonSelectedName' (ngModelChange)='onReasonChange($event)'
                        [ngModelOptions]="{standalone: true}"
                        [disabled]="this.mode=='edit' || this.mode=='update' ? true : null">
                        <option class='option' *ngFor='let contractReason of contractReasonDatas'
                            [value]="contractReason.BrightStaffing_Contract_Reason_ID">{{contractReason.name}}</option>
                    </select>
                </div>
            </div>

            <label class="titleBold"> Start Date: </label>
            <app-calendar id='calendarStartDate' (childEvent)="onStartDateChange($event)" [CalendarData]="calendarData"
                [componentType]="Contract" [calendardayDisableStatus]="this.calendardayDisableStatus"
                [calendarmonthDisableStatus]="this.calendarmonthDisableStatus"
                [calendaryearDisableStatus]="this.calendaryearDisableStatus"
                [calendarDisableStatus]="this.mode=='update' || this.mode=='edit' ? true : null">
            </app-calendar>

            <label class="titleBold"> End Date: </label>
            <app-calendar id='calendarEndDate' (childEvent)="onEndDateChange($event)" [CalendarData]="calendarDataNew"
                [componentType]="Contract" [calendardayDisableStatus]="this.calendardayDisableStatus"
                [calendarmonthDisableStatus]="this.calendarmonthDisableStatus"
                [calendaryearDisableStatus]="this.calendaryearDisableStatus"
                [calendarDisableStatus]="this.mode=='update' ? true : null">
            </app-calendar>

            <div class="row">
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Werkrooster: </label>
                    <select id="workSchedule" name="workSchedule" class='form-control' required
                        [(ngModel)]='workScheduleSelected' (ngModelChange)='onWorkScheduleChange($event)'
                        [ngModelOptions]="{standalone: true}" [disabled]="this.mode=='update' ? true : null">
                        <option class='option' *ngFor='let workSchedule of dpsWorkSchedulesData'
                            [value]="workSchedule.id">
                            {{workSchedule.name}} </option>
                    </select>
                </div>
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Vestiging: </label>
                    <select id="location" name="location" class='form-control' required
                        [(ngModel)]='locationSelectedName' (ngModelChange)='onLocationChange($event)'
                        [ngModelOptions]="{standalone: true}"
                        [disabled]="this.mode=='edit' || this.mode=='update' || this.mode=='extend' ? true : null">
                        <option class='option' *ngFor='let location of locationsData' [value]="location.id">
                            {{location.name}} </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row NewRow" *ngIf="mode==='new' || mode==='edit' || mode==='extend'">
            <div class="col col-sm-12 center-block">
                <button class="greenbtn" id="btnSave" (click)="onCreateOrUpdateContractClick()">
                    <span>Contract opslaan</span>
                </button>
                &nbsp;
                <button class="greenbtn redbtn" id="btnCancelEdit" name="btnCancelEdit" (click)="onCancelEdit()">
                    <span>Annuleren</span>
                </button>
            </div>
        </div>
        <div class="row UpdateRow" *ngIf="mode==='update'">
            <div class="col col-sm-3 center-block"> <button class="greenbtn transbtn" id="btnPrint"
                    [disabled]="!isApproved" (click)="onPrintContractClick()"><span>Afdrukken</span></button>
            </div>
            <div class="col col-sm-6 center-block" *ngIf="this.isDpsUser===false || isApproved">&nbsp;</div>
            <div class="col col-sm-6 center-block" *ngIf="this.isDpsUser && !isApproved">
                <button class="greenbtn" id="btnApprove" (click)="onApproveContractClick()"
                    [disabled]='!allowCreateContract || !personIsEnabled || personIsArchived'
                    *ngIf="this.isDpsUser"><span>Goedkeuren</span>
                </button>
            </div>
            <div class="col col-sm-3 center-block">
                <button class="greenbtn redbtn" id="btnCancelContract" name="btnCancelContract" [disabled]="isApproved"
                    (click)="onCancelContractClick()"><span>Annuleren</span>
                </button>
            </div>
        </div>
        <div id="errorDisplay" class="error">{{errorMsg}}</div>
    </form>
</div>