<form [formGroup]="PersonPositionForm" novalidate id="PersonPositionForm">
    <div id="from1">
      <div id="CustomerDetails" class="customerBox">
        <div class="row panelheader">
          <div class="col col-sm-5 fright">
            <h4>Functie</h4>
            <hr>
          </div>
          <div class="col col-sm-7"></div>
        </div>
        <div class="row panelheader">
          <div class="col col-sm-12">
            <label class="titleBold">Functie</label>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-9">
            <div class="row dynrow">
              <div class="col-sm-8">
                <select id="dd_functie" name="dd_functie" class="inhaalrust selectcomponent" (change)="onChangeDropDownFunctie($event)" ng-dropdown>
                      <option *ngFor="let data of dataDropDownFunctie let i= index" [attr.data-index]="i" [value]="i">
                        {{data}}</option>
                 </select>
              </div>
              <div class="col-sm-4">
                <button [disabled]="isInvalid()" #addButton (click)="onClickAdd()" type="button" class="btnAdd">
                  <img src="../../../assets/img/add.png" alt="" height="17.5" width="17.5" />
                </button>
              </div>
            </div>
          </div>
          <div class="col col-sm-3 inputWithImg">
          </div>
        </div>
      </div>
      <div id="CustomerContact" class="customerBox">
        <div class="row panelheader">
          <div class="col col-sm-5 fright">
            <h4>Verloning</h4>
            <hr>
          </div>
          <div class="col col-sm-7"></div>
        </div>
        <div class="row">
          <div class="col-sm-3 inputWithImg" style="margin-top:38px;">
            <label class="titleBold"> Statuut: </label>
            
            <select id="dd_statute" name="dd_statute" class="inhaalrust selectcomponent" (change)="onChangeDropDownStatute($event)" ng-dropdown required="required">
                <option *ngFor="let data of dataDropDownStatute let i= index" [attr.data-index]="i" [value]="i">
                  {{data}}</option>
           </select>
          </div>
          <div class="col-sm-3 inputWithImg" style="margin-top:38px;">
            <label class="titleBold"> Bruto uurloon: </label>
            <input #grossHourlyWage formControlName="grossHourlyWage" class="form-control" (change)="onHourlyWageReceive(grossHourlyWage.value)" name="grossHourlyWage" type="text"
              required />
            <div class="form-control-feedback" *ngIf="PersonPositionForm.controls.grossHourlyWage.invalid && (PersonPositionForm.controls.grossHourlyWage.dirty || PersonPositionForm.controls.grossHourlyWage.touched) else newvalid">
              <img src="../../assets/img/InvalidIcon.png" alt="">
            </div>
            <ng-template #newvalid>
              <img src="../../assets/img/ValidIcon.png" alt="">
            </ng-template>
          </div>
          <div class="col-sm-4 inputWithImg1 netExpense">
               <div class="row">
                  <div class="col-sm-2">
                      <ui-switch size="small"> </ui-switch>
                  </div>
                  <div class="col-sm-10">
                      <label class="titleBold"> onkostenvergoeding: </label>  
                  </div>
               </div>
                <input #netExpenseAllowance formControlName="netExpenseAllowance" (change)="onNetExpensesReceive(netExpenseAllowance.value)" class="form-control" name="netExpenseAllowance" type="text" required />
                <div style="margin-top:10px;" class="form-control-feedback" *ngIf="PersonPositionForm.controls.netExpenseAllowance.invalid && (PersonPositionForm.controls.netExpenseAllowance.dirty || PersonPositionForm.controls.netExpenseAllowance.touched) else newvalid">
                  <img src="../../assets/img/InvalidIcon.png" alt="">
                </div>
                <ng-template #newvalid>
                  <img src="../../assets/img/ValidIcon.png" alt="">
                </ng-template>        
          </div>
        </div>
      </div>
      <div id="CustomerContact1" class="customerBox">
        <div class="row netExpense" style="padding-left: 10px;">
              <ui-switch size="small"> </ui-switch> &nbsp;
              <div class="col col-sm-10"><label class="titleBold">Kilometervergoeding</label></div>
        </div>
      </div>
      <div id="CustomerContact" class="customerBox">
        <div class="row">
          <div class="col col-sm-12"><label class="titleBold">Extra informatie</label></div>
        </div>
        <div class="row">
          <div class="col col-sm-12">
            <textarea rows="6" #extraRef (change)="addittionalInformation(extraRef.value)" cols="80" name="extra">Extra .....</textarea>
            <div class="form-control-feedback"
              *ngIf="PersonPositionForm.controls.extra.invalid && (PersonPositionForm.controls.extra.dirty || PersonPositionForm.controls.extra.touched) else newvalid">
              <img src="../../assets/img/InvalidIcon.png" alt="">
            </div>
            <ng-template #newvalid>
              <img src="../../assets/img/ValidIcon.png" alt="">
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </form>

