<form [formGroup]="PersonPositionForm" novalidate id="PersonPositionForm">
  <div id="from1">
    <div id="CustomerDetails" class="customerBox">
      <div class="row panelheader">
        <div class="col col-sm-5 fright">
          <h4>Functie</h4>
          <hr>
        </div>
        <div class="col col-sm-7"></div>
      </div>
      <div class="row PersonContactContent">
        <div class="col-sm-12">
          <label class="titleBold">Functie</label>
        </div>
      </div>
      <div class="row PersonContactContent">
        <div class="col-sm-7">
          <select formControlName="functie" [(ngModel)]="selectedIndexFunctie" id="dd_functie" name="dd_functie"
            class="inhaalrust selectcomponent" (change)="onChangeDropDownFunctie($event)" ng-dropdown>
            <option *ngFor="let data of dataDropDownFunctie let i= index" [attr.data-index]="i" [value]="i">
              {{data}}</option>
          </select>
        </div>
        <div class="col col-sm-1">
          <button #addButton (click)="onClickAdd()" type="button" class="btnAdd">
            <img src="../../../assets/img/add.png" alt="" height="17.5" width="17.5" />
          </button>
        </div>
      </div>
    </div>

    <div id="PersonContact" class="customerBox">
      <div class="row panelheader">
        <div class="col col-sm-5 fright">
          <h4>Verloning</h4>
          <hr>
        </div>
        <div class="col col-sm-7"></div>
      </div>

      <div class="row PersonContactContent">
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <label class="titleBold"> Statuut: </label>
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-12">
              <select formControlName="statute" [(ngModel)]="selectedIndexStatute" id="dd_statute" name="dd_statute"
                class="inhaalrust selectcomponent" (change)="onChangeDropDownStatute($event)" ng-dropdown
                required="required">
                <option *ngFor="let data of dataDropDownStatute let i= index" [attr.data-index]="i" [value]="i">
                  {{data}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <label class="titleBold"> Bruto uurloon: </label>
            </div>
          </div>
          <div class="row inputWithImgNew">
            <div class="col-sm-12">
              <input #grossHourlyWage formControlName="grossHourlyWage" class="form-control"
                (change)="onHourlyWageReceive(grossHourlyWage.value)" name="grossHourlyWage" type="text" required />
              <div class="form-control-feedback"
                *ngIf="PersonPositionForm.controls.grossHourlyWage.invalid && (PersonPositionForm.controls.grossHourlyWage.dirty || PersonPositionForm.controls.grossHourlyWage.touched) else newvalid">
                <img src="../../assets/img/InvalidIcon.png" alt="">
              </div>
              <ng-template #newvalid><img src="../../assets/img/ValidIcon.png" alt=""></ng-template>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-2 netExpense">
              <ui-switch [checked]="nettoggle" (change)="switchNetExpense($event)" size="small"> </ui-switch>
            </div>
            <div class="col-sm-10">
              <label class="titleBold">onkostenvergoeding: </label>
            </div>
          </div>
          <div class="row inputWithImgNew">
            <div class="col-sm-12 euro">
              <input #netExpenseAllowance formControlName="netExpenseAllowance"
                (change)="onNetExpensesReceive(netExpenseAllowance.value)" class="form-control"
                name="netExpenseAllowance" type="text" required /><i class="fa fa-eur" aria-hidden="true"></i>
              <div class="form-control-feedback"
                *ngIf="PersonPositionForm.controls.netExpenseAllowance.invalid && (PersonPositionForm.controls.netExpenseAllowance.dirty || PersonPositionForm.controls.netExpenseAllowance.touched) else newvalid">
                <img src="../../assets/img/InvalidIcon.png" alt="">
              </div>
              <ng-template #newvalid>
                <img src="../../assets/img/ValidIcon.png" alt="">
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="CustomerContact1" class="customerBox">
      <div class="row PersonContactContent">
        <div class="col col-sm-6">
          <div class="row netExpense">
            <div class="col col-sm-2">
              <ui-switch [checked]="kmtoggle" (change)="changeKM($event)" size="small"> </ui-switch>
            </div>
            <div class="col col-sm-10"><label class="titleBold">Kilometervergoeding</label></div>
          </div>
        </div>
      </div>
    </div>
    <div id="CustomerContact" class="customerBox">
      <div class="row PersonContactContent">
        <div class="col-sm-12"><label class="titleBold">Extra informatie</label></div>
      </div>
      <div class="row inputWithImgNew PersonContactContent">
        <div class="col-sm-12 ">
          <textarea rows="6" formControlName="extra" #extraRef (change)="addittionalInformation(extraRef.value)"
            cols="80" name="extra">Extra .....</textarea>
          <div class="form-control-feedback"
            *ngIf="PersonPositionForm.controls.extra.invalid && (PersonPositionForm.controls.extra.dirty || PersonPositionForm.controls.extra.touched) else newvalid">
            <img src="../../assets/img/InvalidIcon.png" alt="">
          </div>
          <ng-template #newvalid>
            <img src="../../assets/img/ValidIcon.png" alt="">
          </ng-template>

        </div>
      </div>
    </div>
  </div>

</form>