<div id="personDocument">
  <div id="CustomerDetails" class="customerBox">
    <div class="row panelheader">
      <div class="col col-sm-5 fright">
        <h4>Medisch attest</h4>
        <hr />
      </div>
    </div>
    <div class="row PersonContactContent">
      <div class="col-sm-12">Upload een duidelijke foto/scan of dien aanvraag in.</div>
    </div>
    <div class="row PersonContactContent">
      <div class="col-sm-3"><button class="whitebtn" name="download"><span>Upload attest</span><img
            src="../../../../../assets/svg/CircleUp.svg"></button></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3"><button class="whitebtn" name="download"><span>Vraag attest aan</span><img
            src="../../../../../assets/svg/request.svg"></button></div>
    </div>
  </div>
  <div class="row UploadedFiles">
    <div class="col-sm-5"></div>
    <div class="col-sm-7">
      <!--For loop Starts -->
      <div class="row inforow">
        <div class="col-sm-1 actionbtn actioneyebtn"><button><img src="../../../../assets/svg/eye_big.svg"></button>
        </div>
        <div class="col-sm-10">VCA attest</div>
        <div class="col-sm-1 actionbtn actiondelbtn"><button><img src="../../../../assets/svg/delete_big.svg"></button>
        </div>
      </div>
      <div class="row inforow">
        <div class="col-sm-1 actionbtn actioneyebtn"><button><img src="../../../../assets/svg/eye_big.svg"></button>
        </div>
        <div class="col-sm-10">VCA attest</div>
        <div class="col-sm-1 actionbtn actiondelbtn"><button><img src="../../../../assets/svg/delete_big.svg"></button>
        </div>
      </div>
      <div class="row inforow">
        <div class="col-sm-1 actionbtn actioneyebtn"><button><img src="../../../../assets/svg/eye_big.svg"></button>
        </div>
        <div class="col-sm-10">VCA attest</div>
        <div class="col-sm-1 actionbtn actiondelbtn"><button><img src="../../../../assets/svg/delete_big.svg"></button>
        </div>
      </div>
    </div>
    <!--For loop Ends -->
  </div>
  <div class="row">
    <div class="col col-sm-1 switch">
      <ui-switch size="small"></ui-switch>
    </div>
  </div>
</div>