<div id="personDocument">
  <div id="CustomerDetails" class="customerBox">
    <div class="row panelheader">
      <div class="col col-sm-5 fright">
        <h4>Medisch attest</h4>
        <hr />
      </div>
    </div>
    <div class="row inforow">
      <div class="col col-sm-12">Upload een duidelijke foto/scan of dien aanvraag in.</div>
    </div>
    <!--For loop Starts -->
    <div class="row inforow">

    </div>
    <!--For loop Ends -->
  </div>
</div>
<div class="row">
  <div class="col col-sm-1 switch">
    <ui-switch (change)="onStatusChange($event,i)" size="small" [checked]="data.isEnabled"></ui-switch>
  </div>
</div>