<form  [formGroup]="PersonDocumentForm" novalidate id="PersonDocumentForm">
  <div id="personDocument">
    <div id="CustomerDetails" class="customerBox">
      <div class="row panelheader">
        <div class="col col-sm-5 fright">
          <h4>Medisch attest</h4>
          <hr />
        </div>
      </div>
      <div class="row PersonContactContent">
        <div class="col-sm-12">Upload een duidelijke foto/scan of dien aanvraag in.</div>
      </div>
      <div class="row PersonContactContent">
        <div class="col-sm-3">
          <!-- <button class="whitebtn" name="Upload"><span>Upload attest</span><img
              src="../../../../../assets/svg/CircleUp.svg"></button> -->
              <input class="whitebtn" type="file" name="UploadMedicalAttestation" id="UploadMedicalAttestation" 
              img src="../../../../../assets/svg/CircleUp.svg" 
              (change)="handleMedicalAttestationFileInput($event.target.files)">
     
         
            
            </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3"><button class="whitebtn" name="Upload"><span>Vraag attest aan</span><img
              src="../../../../../assets/svg/request.svg"></button></div>
      </div>
    </div>
    <div class="row UploadedFiles">
      <div class="col-sm-5"></div>
      <div class="col-sm-7">
        <!--For loop Starts -->
        <div class="row inforow">
          <div class="col-sm-1 actioneyebtn">
            <button name="downloadMedicalAttestation" id="downloadMedicalAttestation" (click)="downloadMedicalAttestationFile()">
              <img src="../../../../assets/svg/eye_big.svg">
            </button>
          </div>
          <div class="col-sm-10 actioncontent">Medisch attest 1</div>
          <div class="col-sm-1 actiondelbtn">
            <button name="deleteMedicalAttestation" id="deleteMedicalAttestation" (click)="deleteMedicalAttestation()">
              <img src="../../../../assets/svg/delete_big.svg">
            </button>
          </div>
        </div>       
      </div>
      <!--For loop Ends -->
    </div>
    <div class="general">
      <div class="row radiorow">
        <div class="col-sm-12">
          <ui-switch size="small" name="isConstructionSector" [checked]="isConstructionSector" (change)="onConstructionSectorChange($event)" ></ui-switch>
          <div class="gap">&nbsp;</div><span class="titleBold">Bouwsector</span>
        </div>
      </div>
    </div>
    <div id="VCAAttest" class="customerBox">
      <div class="row">
        <div class="col col-sm-8 fleft">
          <h4>VCA attest</h4>
        </div>
        <div class="col col-sm-3 fright">
          <!-- <button class="whitebtn" name="download"><span>Upload</span><img
              src="../../../../../assets/svg/CircleUp.svg"></button> -->
              <input class="whitebtn" type="file" name="UploadVcaAttestation" id="UploadVcaAttestation" 
              img src="../../../../../assets/svg/CircleUp.svg" 
              (change)="handleVcaAttestationFileInput($event.target.files)">
            
            </div>
      </div>
    </div>
    <div class="row UploadedFiles">
      <div class="col-sm-5"></div>
      <div class="col-sm-7">
        <!--For loop Starts -->
        <div class="row inforow">
          <div class="col-sm-1 actioneyebtn">
            <button name="downloadVcaAttestation" id="downloadVcaAttestation" (click)="downloadVcaAttestationFile()">
              <img src="../../../../assets/svg/eye_big.svg">
            </button>
          </div>
          <div class="col-sm-10 actioncontent">VCA attest</div>
          <div class="col-sm-1 actiondelbtn">
            <button  name="deleteVcaAttestation" id="deleteVcaAttestation" (click)="deleteVcaAttestation()">
              <img src="../../../../assets/svg/delete_big.svg">
            </button>
          </div>
        </div>       
      </div>
      <!--For loop Ends -->
    </div>
    <div id="BuildingCards" class="customerBox">
      <div class="row">
        <div class="col col-sm-8 fleft">
          <h4>Bouwkaart(en)</h4>
        </div>
        <div class="col col-sm-3 fright">
         
          <!-- <button class="whitebtn" name="Upload"><span>Upload</span><img
              src="../../../../../assets/svg/CircleUp.svg">
            </button> -->
            <input class="whitebtn" type="file" name="UploadConstructionCards" id="UploadConstructionCards" 
            img src="../../../../../assets/svg/CircleUp.svg" 
            (change)="handleConstructionCardsFileInput($event.target.files)">
            
            </div>
      </div>
    </div>
    <div class="row UploadedFiles">
      <div class="col-sm-5"></div>
      <div class="col-sm-7">
        <!--For loop Starts -->
        <div class="row inforow" *ngFor="let constructionCard of currentPerson.constructionCards ; let i = index" >
          <div class="col-sm-1 actioneyebtn">
            <button name="downloadConstructionCard" id="downloadConstructionCard" (click)="downloadConstructionCardFile()">
              <img src="../../../../assets/svg/eye_big.svg">
            </button>
          </div>
          <div class="col-sm-10 actioncontent">Bouwkaart 1</div>
          <div class="col-sm-1 actiondelbtn">
            <button  name="deleteConstructionCard" id="deleteConstructionCard" (click)="deleteConstructionCard()">
              <img src="../../../../assets/svg/delete_big.svg">
            </button>
          </div>
        </div>
      </div>
      <!--For loop Ends -->
    </div>
    <div class="general">
      <div class="row radiorow">
        <div class="col-sm-12">
          <ui-switch size="small"></ui-switch>
          <div class="gap">&nbsp;</div><span class="titleBold">Student @Work</span>
        </div>
      </div>
    </div>
    <div id="StudentAttest" class="customerBox">
      <div class="row">
        <div class="col col-sm-5 fleft">
          <h4>Student @work attest</h4>
        </div>
        <div class="col col-sm-3 fright">
          <!-- <button class="whitebtn" name="Upload"><span>Upload</span><img
              src="../../../../../assets/svg/CircleUp.svg"></button> -->

              <input class="whitebtn" type="file" name="UploadStudentAtWork" id="UploadStudentAtWork" 
            img src="../../../../../assets/svg/CircleUp.svg" 
            (change)="handleStudentAtWorkFileInput($event.target.files)">

            </div>
        <div class="col col-sm-3 fright">
          <button class="whitebtn" name="downloadStudentAtWork" id="downloadStudentAtWork" (click)="downloadStudentAtWorkAttestationFile()" ><span>Download</span><img
              src="../../../../../assets/svg/CircleDown.svg">
            </button>
            </div>
      </div>
      <div class="row">          
          <div class="col col-sm-4 fright">   
              <label class="titleBold"> Datum attest: </label>
              <input formControlName="attestationDate" class="form-control" name="attestationDate" type="date" />
                   
              </div>
          <div class="col col-sm-4 fright">
              <label class="titleBold"> Contigent: </label>
              <input formControlName="contingent" class="form-control" name="contingent" type="text" />
               
              </div>

              <div class="col col-sm-4 fright">
                  <label class="titleBold"> Resterend saldo: </label>
                  <input formControlName="balance" class="form-control" name="balance" type="text" />
                 
                </div>
        </div>
    </div>
  
    <div class="general">
      <div class="row radiorow">
        <div class="col-sm-12">
          <ui-switch size="small" name="isDriver" [checked]="isDriver" (change)="onIsDriverChange($event)"></ui-switch>
          <div class="gap">&nbsp;</div><span class="titleBold">Chauffeur / bestuurder</span>
        </div>
      </div>
    </div>
    <div id="DrivingLicense" class="customerBox">
      <div class="row">
        <div class="col col-sm-6 fleft">
          <select class="drivinglicenses selectcomponent" [(ngModel)]='ddl_drivinglicenseSelected' id="ddl_drivinglicense" name="ddl_drivinglicense" required="">
            <option value="0" selected>Kies een voertuig</option>
            <option value="1">Zware Vrachtwagen</option>
            <option value="2">Auto</option>
            <option value="2">Kraan</option>
            <option value="2">Heftruck</option>
            <option value="2">Zware Bus</option>
            <option value="2">JCB</option>
          </select>
        </div>
        <div class="col col-sm-2 fleft"></div>
        <div class="col col-sm-3 fright">
          
          <!-- <button class="whitebtn" name="download"><span>Upload</span><img
              src="../../../../../assets/svg/CircleUp.svg"></button> -->
              
              <input class="whitebtn" type="file" name="UploadDriversLicense" id="UploadDriversLicense" 
              img src="../../../../../assets/svg/CircleUp.svg" 
              (change)="handleDriversLicenseFileInput($event.target.files)">
            </div>
      </div>
    </div>
    <div class="row UploadedFiles">
      <div class="col-sm-5"></div>
      <div class="col-sm-7">
        <!--For loop Starts -->
        <div class="row inforow"  *ngFor="let driverProfile of currentPerson.driverProfiles ; let i = index">
          <div class="col-sm-1 actioneyebtn">
            <button name="downloadDriversLicense" id="downloadDriversLicense" (click)="downloadDriversLicenseFile()">
              <img src="../../../../assets/svg/eye_big.svg">
            </button>
          </div>
          <div class="col-sm-10 actioncontent">Chauffeur 1 attest</div>
          <div class="col-sm-1 actiondelbtn">
            <button name="deleteDriversLicense" id="deleteDriversLicense" (click)="deleteDriversLicense()">
              <img src="../../../../assets/svg/delete_big.svg">
            </button>
          </div>
        </div>
        
      </div>
      <!--For loop Ends -->
    </div>
    <div id="BuildingCards" class="customerBox">
      <div class="row">
        <div class="col col-sm-7 fleft">
          <h4>Andere nuttige documenten</h4>
        </div>
        <div class="col col-sm-4 fright">
          
          <!-- <button class="whitebtn" name="download"><span>Upload document</span><img
              src="../../../../../assets/svg/CircleUp.svg">
            </button> -->
            <input class="whitebtn" type="file" name="UploadOtherDocuments" id="UploadOtherDocuments" 
              img src="../../../../../assets/svg/CircleUp.svg" 
              (change)="handleOtherDocumentsInput($event.target.files)">
            
            </div>
      </div>
    </div>
    <div class="row UploadedFiles">
      <div class="col-sm-5"></div>
      <div class="col-sm-7">
        <!--For loop Starts -->
        <div class="row inforow" *ngFor="let document of currentPerson.otherDocuments ; let i = index">
          <div class="col-sm-1 actioneyebtn">
            <button name="downloadOtherDocuments" id="downloadOtherDocuments" (click)="downloadOtherDocumentsFile()">
              <img src="../../../../assets/svg/eye_big.svg">
            </button>
          </div>
          <div class="col-sm-10 actioncontent">Document 1</div>
          <div class="col-sm-1 actiondelbtn">
            <button name="deleteOtherDocuments" id="deleteOtherDocuments" (click)="deleteOtherDocuments()">
              <img src="../../../../assets/svg/delete_big.svg">
            </button>
          </div>
        </div>
       
        </div>
     
      <!--For loop Ends -->
    </div>
  </div>
</form>