#forward {
  width: 260px;
  text-align: left;
}
#backward {
  width: 135px;
  text-align: right;
}
#forward img {
  float: right;
}
#backward img {
  float: left;
}
.scrollbar {
  height: auto;
  overflow-y: scroll;
  padding-right: 20px;
  overflow-x: hidden;
}
#formState {
  font-weight: bold;
  font-size: 12px;
}
.force-overflow {
  min-height: 1000px;
}
#formState {
  margin-top: 50px;
  margin-bottom: 50px;
}
#maincontent::-webkit-scrollbar-track {
  background-color: transparent;
}
#maincontent::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}
#maincontent::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
}
#maincontentarea {
  margin: 0px;
  padding: 0px;
}
.mw-350 {
  min-width: 350px;
  padding: 0px;
  margin: 0px;
}
.mw-350 hr {
  height: 0.1em;
  border: none;
  padding: 0px;
  margin: 10px 0px;
}
.mw-350 img {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 5px;
  right: -5px;
  z-index: 100;
}
.mw-350 input {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 3px;
  right: -8px;
  background: #c7c7c7;
  z-index: 100;
}

.emptyrow {
  height: 0px;
}

.dashboardaction {
  background-image: linear-gradient(107deg, #fff, #dddddd);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 380px;
  border-radius: 25px;
  padding: 20px 50px;
  margin: 40px 0px;
  border: 1px solid rgba(230, 228, 228, 0.25);
}
.dashboardperson {
  background-color: #00032b;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  min-height: 380px;
  border-radius: 25px;
  padding: 20px;
  margin: 50px 0px;
}

.search {
  padding: 0px 0px;
}

.search img {
  width: 20px;
  position: absolute;
  left: 23px;
  top: 15px;
  background-color: transparent;
  color: #fff;
  overflow: hidden;
  outline: none;
  border: none;
}

::ng-deep #maincontentarea .search input[type="text"] {
  border-radius: 22px;
  line-height: 22px;
  padding: 2px 0px 2px 26px;
  background-color: #00032b;
  border: 1px solid #595a64;
  font-weight: 500;
  color: #fff;
  outline: 0px;
  width: 90%;
  min-width: 100px;
}
.Dates .col-split {
  color: #e37619;
  font-size: 13px;
  font-weight: normal;
  padding: 5px;
  text-align: center;
}
.Contents .col-split {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

.Contents .col-split-n {
  text-align: left;
}
.Contents .col-split .name {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 5px 0px 5px;
  text-align: left;
  clear: both;
  cursor: pointer;
}
.Contents .col-split .position {
  color: #646464;
  font-size: 13px;
  font-weight: normal;
  padding: 0px 5px 5px 5px;
  text-align: left;
  clear: both;
  cursor: pointer;
}
.col-split-t {
  width: 25%;
}
.col-split-n {
  width: 21%;
}
.col-split-f {
  width: 4%;
  padding: 20px;
}
.col-split-m {
  width: 9%;
}
.col-split-l {
  width: 12%;
}

.dashboardactionhead {
  line-height: 50px;
  vertical-align: middle;
}

#PersonContents {
  margin: 0px -20px 10px;
  padding: 0px;
  border-top: 3px solid #707070;
  border-bottom: 3px solid #707070;
  min-height: 300px;
}
#PersonContents .row {
  margin: 0px;
}

.dashboardactioncontent table .Contents button {
  padding: 0px;
  margin: 15px 0px;
  border: 0px;
  background: transparent;
  outline: 0px;
}

.dashboardactioncontent table .Contents button img {
  width: 40px;
}

.dashboardactioncontent {
  padding: 0px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  height: 300px;
  overflow: auto;
}
.dashboardactioncontent table {
  width: 100%;
  margin: auto;
}
.dashboardactioncontent table,
.dashboardactioncontent table tr,
.dashboardactioncontent table tr td {
  border-right: 0.5px dotted rgba(255, 255, 255, 0.5);
  border-left: 0.5px dotted rgba(255, 255, 255, 0.5);
  border-top: 0.5px dotted rgba(159, 11, 25, 0.5);
  border-bottom: 0.5px dotted rgba(159, 11, 25, 0.5);
  padding: 0px;
  margin: 0px;
}

.dashboardactioncontent table tr td {
  vertical-align: middle;
  padding: 5px 5px;
}
.notify {
  float: left;
  color: #e37619;
  font-weight: bold;
  padding: 0px 10px 5px 0px;
  line-height: 25px;
}
sup.notify {
  font-size: 14px;
}
.dashboardtitle {
  float: left;
  color: #000;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  padding: 0px 0px 5px 0px;
}

.dashboardbg {
  background-image: url("../../../assets/img/dashboardbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.dashboardactioncontent div.row {
  margin: 15px 0px;
}
.dashboardactioncontent div div.col {
  vertical-align: middle;
  line-height: 30px;
  padding: 0px;
  margin: 0px;
}

.dashboardactioncontent div.col,
::ng-deep #maincontentarea .dashboardactioncontent div.col span {
  color: #000;
  font-size: 16px;
  font-weight: 550;
}
.dashboardactioncontent div.dt {
  padding: 0px;
  margin: 0px;
}
::ng-deep #maincontentarea .dashboardactioncontent div.dt span {
  padding: 0px;
  margin: 0px;
  white-space: normal;
}
.dashboardactioncontent div.col {
  float: left;
}
.dashboardactioncontent div div.col button {
  float: right;
  border: 0px;
  background: transparent;
  outline: 0px;
}
.dashboardactioncontent div div.col button img {
  width: 30px;
  height: auto;
}

.dashboardactioncontent::-webkit-scrollbar-track {
  background-color: transparent;
}
.dashboardactioncontent::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.dashboardactioncontent::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
}

.Header {
  padding: 5px 0px 20px 0px;
  border-bottom: 1px groove #707070;
}
.Header .col .headIcon {
  width: 32px;
  margin: 8px 0px;
}
.col {
  padding: 0px 15px 0px 0px;
  margin: 0px;
}
.Header .col.WeekCal {
  margin: 0px;
  padding: 5px 0px;
}

.Header .col.Heading,
.Header .col .week {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  margin: 0px;
  padding: 5px 0px;
}
.Header .col .weeks {
  margin: auto;
  width: 200px;
}
.Header .col .week {
  float: left;
  font-size: 15px;
  width: 140px;
  text-align: center;
  line-height: 18px;
  vertical-align: middle;
}
.Header .col .calenderLeft button,
.Header .col .calenderRight button {
  padding: 0px;
  margin: 0px;
  width: 30px;
  height: 42px;
  background: transparent;
  border: 0px;
}
.Header .col .calenderLeft,
.Header .col .calenderRight {
  width: 30px;
  padding: 0px;
  float: left;
  vertical-align: middle;
}

#PersonButtons {
  padding: 0px;
  margin: 0px 40px;
}

#PersonButtons button {
  padding: 5px 15px;
  border-radius: 22px;
  border: 0px solid #fff;
  background: rgba(255, 255, 255, 0.29);
  color: #fff;
  line-height: 30px;
  vertical-align: middle;
  float: left;
  margin: 0px 40px 0px 0px;
}
#PersonButtons button img {
  padding: 2px 20px 2px 0px;
}
#PersonButtons button:focus {
  outline: 0px;
}
