<div class="dashboardbg">
  <app-headers [CustomerVatNumber]="vatNumber"></app-headers>
  <app-menu [CustomerVatNumber]="vatNumber" [SelectedPage]="SelectedPage"></app-menu>
  <div class="container">
    <div class="row">
      <div class="col col-sm-12 center-block">
        <img src="./assets/svg/dashboard.svg" style="left:-15" /><br />
        <div class="pagehead">DASHBOARD</div>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-12 emptyrow"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col col-sm-1"></div>
      <div class="col col-sm-10" id="maincontentarea">
        <div class="scrollbar" id="maincontent">
          <app-dashboardsummary (NotificationCount)="setNotificationCount($event)"
            [isForceZeroNotificationCount]="isForceZeroNotificationCount"></app-dashboardsummary>
          <app-dashboardperson [NotificationCount]="notificationcount"></app-dashboardperson>
        </div>
      </div>
    </div>
  </div>
</div>