#forward {
  width: 260px;
  text-align: left;
}
#backward {
  width: 135px;
  text-align: right;
}
#forward img {
  float: right;
}
#backward img {
  float: left;
}
.scrollbar {
  height: auto;
  overflow-y: scroll;
  padding-right: 20px;
  overflow-x: hidden;
}
#formState {
  font-weight: bold;
  font-size: 12px;
}
.force-overflow {
  min-height: 1000px;
}
#formState {
  margin-top: 50px;
  margin-bottom: 50px;
}
#maincontent::-webkit-scrollbar-track {
  background-color: transparent;
}
#maincontent::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}
#maincontent::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
}
#maincontentarea {
  margin: 0px;
  padding: 0px;
}
.mw-350 {
  min-width: 350px;
  padding: 0px;
  margin: 0px;
}
.mw-350 hr {
  height: 0.1em;
  border: none;
  padding: 0px;
  margin: 10px 0px;
}
.mw-350 img {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 5px;
  right: -5px;
  z-index: 100;
}
.mw-350 input {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 3px;
  right: -8px;
  background: #c7c7c7;
  z-index: 100;
}

.emptyrow {
  height: 0px;
}

.dashboardaction {
  background-image: linear-gradient(107deg, #fff, #dddddd);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 380px;
  border-radius: 25px;
  padding: 20px 50px;
  margin: 40px 0px;
  border: 1px solid rgba(230, 228, 228, 0.25);
}
.dashboardperson {
  background-color: #00032b;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  min-height: 380px;
  border-radius: 25px;
  padding: 20px;
  margin: 50px 0px;
}

.search {
  padding: 0px 0px;
}

.search img {
  width: 20px;
  position: absolute;
  left: 16px;
  top: 12px;
  background-color: transparent;
  color: #fff;
  overflow: hidden;
  outline: none;
  border: none;
}

::ng-deep #maincontentarea .search input[type="text"] {
  border-radius: 22px;
  line-height: 22px;
  padding: 2px 0px 2px 26px;
  margin: 5px 5px 5px 10px;
  background-color: #00032b;
  border: 1px solid #595a64;
  font-weight: 500;
  color: #fff;
  outline: 0px;
  width: 96%;
  min-width: 242px;
  text-align: left;
}
.Dates .col-split {
  color: #e37619;
  font-size: 13px;
  font-weight: normal;
  padding: 5px;
  text-align: left;
}
.Contents .col-split {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 0px;
  text-align: center;
  height: 82px;
}
.Contents .col-split .centerline {
  width: 1px;
  height: 82px;
  border-right: 0.5px dotted rgba(255, 255, 255, 0.15);
  margin: auto;
}
.Contents .col-split .workbar.green {
  background-color: limegreen;
}

.Contents .col-split .workbar.orange {
  background-color: #e37619;
}

.Contents .col-split .workbar.purple {
  background-color: purple;
}
.Contents .col-split .workbar {
  border-radius: 2px;
  height: 4px;
  position: absolute;
  vertical-align: middle;
  margin-top: 41px;
  cursor: default;
}

.Contents .col-split .SelectedContract .workbar {
  border-radius: 5px;
  height: 10px;
  margin-top: 39px;
}
.Contents .col-split .workbar .workbarTime {
  display: none;
  font-weight: lighter;
  font-size: 8px;
  color: #fff;
  margin: auto;
  margin-top: -1px;
  width: 60px;
}
.Contents .col-split .SelectedContract .workbar .workbarTime {
  display: block;
}

.Contents .col-split .FullCol {
  padding: 0px;
  margin: 0px;
  width: 100%;
  /* height: 100%; */
  background-color: transparent;
  border-bottom: 0.5px dotted rgba(159, 11, 25, 0.5);
}

.Contents .col-split .FullCol.SelectedContract {
  background-color: rgba(255, 255, 255, 0.13);
}

.Contents .col-split .name,
.Contents .col-split .position {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 5px 0px 5px;
  text-align: left;
  clear: both;
  cursor: pointer;
}
.Contents .col-split .name.notActive {
  color: #6e4e4e;
}
.Contents .col-split .position {
  color: #646464;
  font-weight: normal;
  padding: 0px 5px 5px 5px;
}
#PersonContents .dashboardpersoncontent table {
  min-width: 1100px;
}
.col-split-t {
  width: auto;
}
.col-split-n {
  text-align: left;
  width: auto;
}
.col-split-f {
  min-width: 30px;
  width: 30px;
  padding: 0px;
  margin: 0px;
}
.col-split-m {
  width: 120px;
}
.col-split-l {
  width: 5%;
  display: none;
}
.dashboardactionhead {
  line-height: 50px;
  vertical-align: middle;
}
#PersonContents {
  margin: 0px -20px 10px;
  padding: 0px;
  min-height: 400px;
}
#PersonContents.Expand {
  /*min-height: 1000px;*/
  min-height: calc(100vh - 400px);
}

#PersonContents .row {
  margin: 0px;
}
.dashboardactioncontent table .Contents button {
  padding: 0px;
  margin: 15px 0px;
  border: 0px;
  background: transparent;
  outline: 0px;
}

.dashboardactioncontent table .Contents button img {
  width: 30px;
}

.dashboardactioncontent {
  padding: 0px;
  border-top: 3px solid rgba(112, 112, 112, 0.75);
  border-bottom: 3px solid rgba(112, 112, 112, 0.75);
  height: 300px;
  overflow: auto;
}

.dashboardpersoncontent {
  height: auto;
  max-height: 800px;
}

.dashboardactioncontent table {
  width: 100%;
  margin: auto;
}
.dashboardactioncontent table,
.dashboardactioncontent table tr,
.dashboardactioncontent table tr td {
  border-right: 0.5px dotted rgba(255, 255, 255, 0.5);
  border-left: 0.5px dotted rgba(255, 255, 255, 0.5);
  border-top: 0.5px dotted rgba(159, 11, 25, 0.5);
  border-bottom: 0.5px dotted rgba(159, 11, 25, 0.5);
  padding: 0px;
  margin: 0px;
}

.dashboardactioncontent table tr td {
  vertical-align: middle;
}
.dashboardactioncontent table tr td.error {
  text-align: center;
  padding: 100px 10px 100px 10px;
}
.dashboardactioncontent .error {
  width: 100%;
  text-align: center;
  padding: 131px 10px 131px 10px;
}
.error {
  word-break: break-all;
}

.dashboardactioncontent table tr td.col-split-m {
  text-align: center;
}
.notify {
  float: left;
  color: #e37619;
  font-weight: bold;
  padding: 0px 10px 5px 0px;
  line-height: 25px;
}
sup.notify {
  font-size: 14px;
}
.dashboardtitle {
  float: left;
  color: #000;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  padding: 0px 0px 5px 0px;
}

.dashboardbg {
  background-image: url("../../../assets/img/dashboardbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dashboardactioncontent div.row {
  margin: 15px 0px;
}
.dashboardactioncontent div div.col {
  vertical-align: middle;
  line-height: 30px;
  padding: 0px;
  margin: 0px;
}

.dashboardactioncontent div.col,
::ng-deep #maincontentarea .dashboardactioncontent div.col span {
  color: #000;
  font-size: 16px;
  font-weight: 550;
}
.dashboardactioncontent div.dt {
  padding: 0px;
  margin: 0px;
}
::ng-deep #maincontentarea .dashboardactioncontent div.dt span {
  padding: 0px;
  margin: 0px;
  white-space: normal;
}
.dashboardactioncontent div.col {
  float: left;
}
.dashboardactioncontent div div.col button {
  float: right;
  border: 0px;
  background: transparent;
  outline: 0px;
}
.dashboardactioncontent div div.col button img {
  width: 30px;
  height: auto;
}

.dashboardactioncontent::-webkit-scrollbar-track {
  background-color: transparent;
}
.dashboardactioncontent::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
.dashboardactioncontent::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
}

.Header {
  padding: 5px 0px 20px 0px;
  border-bottom: 1px groove #707070;
}
.Header .col .headIcon {
  width: 32px;
  margin: 8px 0px;
}
.col {
  padding: 0px 15px 0px 0px;
  margin: 0px;
}
.Header .col.WeekCal {
  margin: 0px;
  padding: 5px 0px;
}

.Header .col.Heading,
.Header .col .week {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  margin: 0px;
  padding: 11px 0px;
}
.Header .col .weeks {
  margin: auto;
  width: 82%;
}
.Header .col .week {
  float: left;
  font-size: 15px;
  width: 80%;
  text-align: center;
  line-height: 18px;
  vertical-align: middle;
  padding: 5px 0px;
  border: 0px solid red;
}
.Header .col .calenderLeft button,
.Header .col .calenderRight button {
  padding: 0px;
  margin: 0px;
  width: 30px;
  height: 46px;
  background: transparent;
  border: 0px;
}
.Header .col .calenderLeft,
.Header .col .calenderRight {
  padding: 0px;
  margin: 0px;
  width: 10%;
  float: left;
  vertical-align: middle;
  border: 0px solid greenyellow;
}

#PersonButtons {
  padding: 0px;
  margin: 0px 40px;
}

#PersonButtons button {
  padding: 5px 15px;
  border-radius: 22px;
  border: 0px solid #fff;
  background: rgba(255, 255, 255, 0.29);
  color: #fff;
  line-height: 30px;
  vertical-align: middle;
  float: left;
  margin: 0px 40px 0px 0px;
}
#PersonButtons button img {
  padding: 2px 20px 2px 0px;
}
#PersonButtons button:focus {
  outline: 0px;
}
#PersonContents .contractActions {
  position: absolute;
  border: 0px solid red;
  height: 26px;
  display: none;
  margin-top: -13px;
}
#PersonContents .contractActionbtngrp {
  margin: auto;
  height: 26px;
  padding: 0px;
  border: 0px solid white;
  text-align: center;
}

#PersonContents .contractActionbtngrp.TwoButtonWidth {
  width: 240px;
}

#PersonContents .contractActionbtngrp.OneButtonWidth {
  width: 120px;
}

#PersonContents .contractActions .contractActionbtngrp .contractActionbtn1 {
  width: 118px;
  border: 0px solid #c2a133;
  float: left;
}
#PersonContents .contractActions .contractActionbtngrp .contractActionbtn2 {
  width: 118px;
  border: 0px solid #9646e0;
  float: right;
}

#PersonContents
  .contractActions
  .contractActionbtngrp.OneButtonWidth
  .contractActionbtn2
  .contractActionbtn {
  float: none;
}
#PersonContents
  .contractActions
  .contractActionbtngrp.OneButtonWidth
  .contractActionbtn {
  float: none;
}

#PersonContents
  .contractActions
  .contractActionbtngrp
  .contractActionbtn1
  .contractActionbtn {
  float: right;
}
#PersonContents
  .contractActions
  .contractActionbtngrp
  .contractActionbtn2
  .contractActionbtn {
  float: left;
}
#PersonContents .contractActionbtn {
  margin: 0px;
  padding: 0px;
  border-radius: 13px;
  border: 0px solid #e37619;
  background: #eaeaea;
  color: #fff;
  height: 26px;
  width: 26px;
  text-align: center;
  float: left;
}

#PersonContents .contractActionbtn .btnLeftTextContainer,
#PersonContents .contractActionbtn .btnRightTextContainer {
  display: none;
  font-weight: bold;
  width: 92px;
  height: 26px;
  line-height: 26px;
  margin: 0;
  vertical-align: middle;
  border: 0px solid purple;
}
#PersonContents .contractActionbtn .btnLeftIcon,
#PersonContents .contractActionbtn .btnRightIcon {
  width: 26px;
  padding: 2px;
  margin: 0px;
  border: 0px solid violet;
  display: inline-block;
}

#PersonContents .contractActionbtn .btnLeftIcon {
  float: left;
}

#PersonContents .contractActionbtn .btnRightIcon {
  float: right;
}
#PersonContents .contractActionbtn .btnLeftTextContainer {
  float: left;
  background-image: linear-gradient(107deg, #58f40f, #009476);
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}
#PersonContents .contractActionbtn .btnRightTextContainer {
  float: right;
  background-image: linear-gradient(107deg, #ff8000, #ad0000);
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}

#PersonContents .contractActionbtn:hover {
  width: 118px;
}

#PersonContents .contractActionbtn:hover .btnLeftIcon {
  padding: 3px 0px;
  margin: 0px;
}
#PersonContents .contractActionbtn:hover .btnRightIcon {
  padding: 4px 0px;
  margin: 0px;
}

#PersonContents .contractActionbtn:hover .btnLeftTextContainer,
#PersonContents .contractActionbtn:hover .btnRightTextContainer {
  display: block;
}

#PersonContents .contractActionbtnGap {
  float: left;
  width: 4px;
  height: 26px;
  border: 0px solid green;
}

#PersonContents .contractActionbtn.SelectedContract,
#PersonContents .contractActions.SelectedContract {
  display: block;
}

#triangleRight {
  float: left;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-style: solid;
  width: 0px;
  height: 0px;
  line-height: 0px;
  border-width: 0px 100px 100px 100px;
  border-color: transparent transparent #007bff transparent;
  _border-color: #000 #000 #007bff #000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  margin: 0;
  padding: 0;
}
#triangleLeft {
  float: right;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-style: solid;
  width: 0px;
  height: 0px;
  line-height: 0px;
  border-width: 0px 100px 100px 100px;
  border-color: transparent transparent #007bff transparent;
  _border-color: #000 #000 #007bff #000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  margin: 0;
  padding: 0;
}

.dashboardactioncontent table .Contents button.contractActionbtn img {
  width: 20px;
}
.HideMe {
  display: none;
}
.ShowMe {
  display: block;
}

.addContract img {
  content: url("../../../assets/svg/checklist_add.svg");
}
.addContract:disabled img {
  content: url("../../../assets/svg/checklist_add_disabled.svg");
}
.addContract.disabled img {
  content: url("../../../assets/svg/checklist_add_disabled.svg");
}
#PersonButtons button.bulkcontract {
  color: #fff;
  background: rgba(100, 100, 100, 0.35);
}
#PersonButtons button.bulkcontract img {
  content: url("../../../assets/svg/layers.svg");
}
#PersonButtons button.bulkcontract:disabled {
  color: #a09f9f;
}
#PersonButtons button.bulkcontract:disabled img {
  content: url("../../../assets/svg/layers_disabled.svg");
}

#PersonContents
  .dashboardactioncontent
  table
  .Contents
  .contractActionbtn1
  button.contractActionbtn
  .btnLeftTextContainer {
  background-image: linear-gradient(107deg, #58f40f, #009476);
}
#PersonContents
  .dashboardactioncontent
  table
  .Contents
  .contractActionbtn1
  button.contractActionbtn:disabled
  .btnLeftTextContainer {
  background-image: linear-gradient(107deg, #57f40f5e, #00947663);
}

#PersonContents
  .dashboardactioncontent
  table
  .Contents
  .contractActionbtn1
  button.contractActionbtn
  .btnLeftTextContainer
  .btnLeftText {
  color: #fff;
}

#PersonContents
  .dashboardactioncontent
  table
  .Contents
  .contractActionbtn1
  button.contractActionbtn:disabled
  .btnLeftTextContainer
  .btnLeftText {
  color: #f4f4f4;
}

#PersonContents
  .dashboardactioncontent
  table
  .Contents
  .contractActionbtn1
  button.contractActionbtn
  .btnRightIcon
  img {
  content: url("../../../assets/svg/extended.svg");
}

#PersonContents
  .dashboardactioncontent
  table
  .Contents
  .contractActionbtn1
  button.contractActionbtn:disabled
  .btnRightIcon
  img {
  content: url("../../../assets/svg/extended_disabled.svg");
}
