.facturatieParameters {
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
  padding-bottom: 0px;
}
.facturatieParameters .panelheader hr {
  margin-top: 20px;
  margin-left: -20px;
}

.facturatieParameters .col {
  /* padding: 0px;*/
}

.leftparameters {
  width: 100px;
  height: 70px;
  display: inline-block;
  margin: -2px;
  font-size: 15px;
  vertical-align: bottom;
  margin-right: 15px;
  margin-left: 5px;
  margin-top: 10px;
}

.rightparameters {
  width: 100px;
  height: 50px;
  display: inline-block;
  margin: -2px;
  font-size: 15px;
  vertical-align: bottom;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

.addRow {
  width: 450px;
  height: 50px;
  margin-left: 10px;
  padding: 5px;
  background-color: transparent;
}

.addButton {
  width: 80px;
  height: 80px;
}

.btnAdd {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.btnRemove {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.boxes {
  background-color: transparent;
}

.addrembuttons {
  width: 40px;
  height: 40px;
}

.inputBoxInhaalrust {
  border-radius: 5px;
  margin-left: 50px;
  padding: 7px;
}

.titleBold {
  font-weight: bold;
  font-size: 15px;
}

.floatright {
  float: left;
}
.radiorow .dynrow .col-sm-1,
.radiorow .dynrow .col-sm-2,
.radiorow .dynrow .col-sm-3,
.radiorow .dynrow .col-sm-4,
.radiorow .dynrow .col-sm-5,
.radiorow .dynrow .col-sm-6,
.radiorow .dynrow .col-sm-7,
.radiorow .dynrow .col-sm-8,
.radiorow .dynrow .col-sm-9,
.radiorow .dynrow .col-sm-10,
.radiorow .dynrow .col-sm-11,
.radiorow .dynrow .col-sm-12 {
  padding-right: 3px;
  padding-left: 3px;
}

/* #PloegprimeBox1{
    width: 125.72px; 
    height: 35px; 
    margin-right: 10px; 
    display: inline-block; 
    padding: 7px; 
    border-radius:5px;
}

#PloegprimeBox2 {
    width: 50px; 
    height: 35px; 
    margin-right: 10px; 
    display: inline-block; 
    padding: 7px; 
    border-radius:5px; 
}

#PloegprimeBox3 {
    width: 50px; 
    height: 35px;
    margin-right: 0px; 
    display: inline-block; 
    padding: 7px; 
    border-radius:5px;
} */

/* .Ploegprime{
    width: 400px;
    clear:both;
    height:auto;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility:hidden;
} */
