<form [formGroup]="ISForm" novalidate id="ISForm">
        <div class="facturatieParameters1 customerBox">
                <div class="row panelheader">
                        <div class="col col-sm-5 fright">
                                <h4>Facturatie Parameters</h4>
                                <hr>
                        </div>
                        <div class="col col-sm-7"></div>
                </div>
                <div class="row radiorow">
                        <div class="col-sm-5">
                                <div class="row">
                                        <div class="col-sm-12">
                                                <ui-switch (change)="onChangeI($event)" size="small"></ui-switch>
                                                &nbsp;&nbsp;
                                                <span>Inhaalrust</span>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-8 m50">
                                                <select formControlName="inhaalrust" id="dd_inhaalrust"
                                                        name="dd_inhaalrust" class="inhaalrust selectcomponent"
                                                        (change)="onChangeDropDown($event)" ng-dropdown
                                                        required="required">
                                                        <option *ngFor="let data of dataDropDown let i= index"
                                                                [attr.data-index]="i" [value]="i">{{data}}</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-12">
                                                <!-- <input #inhaalrust id="inhaalrust" (change)="setInhaalrust(inhaalrust.value)" formControlName="inhaalrust" class="inputBoxInhaalrust" type="text"/> -->
                                                <div class="ziekte">
                                                        <ui-switch (change)="onChangeZ($event)" size="small">
                                                        </ui-switch> &nbsp;
                                                        <span>Ziekte</span>
                                                </div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-12">
                                                <ui-switch (change)="onChangeF($event)" size="small"></ui-switch> &nbsp;
                                                <span>Feest</span>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-12">
                                                <div class="mobile">
                                                        <ui-switch (change)="onChangeM($event)" size="small">
                                                        </ui-switch> &nbsp;
                                                        <span>Mobile</span>
                                                </div>
                                        </div>
                                </div>
                                <div class="row dynrow">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                                <input id="mobilebox" #mobilebox
                                                        (change)="setMobileBox(mobilebox.value)"
                                                        formControlName="mobilebox" class="inputBoxInhaalrust"
                                                        type="text" />
                                        </div>
                                        <div class="col-sm-3">
                                                <span>per km</span>
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-7">
                                <div class="row">
                                        <div class="col-sm-12">
                                                <ui-switch (change)="onTeamChange($event)" size="small"></ui-switch>
                                                &nbsp;
                                                <span>Ploegpremie</span>
                                        </div>
                                </div>
                                <div class="row dynrow" *ngFor="let Ploegpremiere of ISForm.get('arrayBox').controls as result; let i=index; first as isFirst; last as isLast">
                                        <div class="col-sm-5">
                                                <input #code (change)="setPgBox1(code.value,i)" type="text"
                                                        formControlName="PloegprimeBox1">
                                        </div>
                                        <div class="col-sm-3">
                                                <input #amount (change)="setPgBox2(amount.value,i)" type="number"
                                                        formControlName="PloegprimeBox2">
                                        </div>
                                        <div class="col-sm-2">
                                                <select formControlName="currency" id="dd_currency" name="dd_currency"
                                                        class="currency selectcomponent"
                                                        (change)="onChangeDropDownCurrencyTeam($event,i)" ng-dropdown
                                                        required="required">
                                                        <option *ngFor="let data of datacurrencyDropDown let i= index"
                                                                [attr.data-index]="i" [value]="i">{{data}}</option>
                                                </select>
                                        </div>
                                        <div class="col-sm-2" *ngIf="(result.length === 1 || isLast) else remove">
                                                <button [disabled]="isInvalid()"  #addButton (click)="addRows()" type="button" class="btnAdd">
                                                        <img src="../../../assets/img/add.png" alt="" height="17.5" width="17.5" />
                                                </button>
                                        </div>

                                                <ng-template #remove>
                                                                <button [disabled]="isInvalid()" #removeButton (click)="removeRows(i)" type="button" class="btnRemove">
                                                                        <img src="../../../assets/img/delete.jpg" alt="" height="17.5" width="17.5" />
                                                                </button>        
                                                </ng-template>
                                </div>
                                <div class="row">
                                        <div class="col-sm-12">
                                                <ui-switch (change)="onChangeA($event)" size="small"></ui-switch>&nbsp;
                                                <span>Andre</span>
                                        </div>
                                </div>
                                <div class="row dynrow" *ngFor="let Andre of ISForm.get('arrayAndreBox').controls as nresult; let i=index; first as isFirstA; last as isLastA">
                                        <div class="col-sm-5">
                                                <input #codeA (change)="setPgABox1(codeA.value,i)" type="text"
                                                        formControlName="AndreBox1">
                                        </div>
                                        <div class="col-sm-3">
                                                <input #amountA (change)="setPgABox2(amountA.value,i)"
                                                        type="number" formControlName="AndreBox2">
                                        </div>
                                        <div class="col-sm-2">
                                                <select formControlName="currency" id="dd_currency"
                                                        name="dd_currency" class="currency selectcomponent"
                                                        (change)="onChangeDropDownCurrencyOther($event,i)"
                                                        ng-dropdown required="required">
                                                        <option *ngFor="let data of datacurrencyDropDown let i= index"
                                                                [attr.data-index]="i" [value]="i">{{data}}
                                                        </option>
                                                </select>
                                        </div>
                                        <div class="col-sm-2"  *ngIf="(nresult.length === 1 || isLastA) else removeA">
                                                <button [disabled]="isInvalidOther()" #addButtonA (click)="addAndreRows()" type="button" class="btnAdd">
                                                        <img src="../../assets/img/add.png" alt="" height="17.5" width="17.5" />
                                                </button>
                                        </div>
                                          <ng-template #removeA>
                                                        <button [disabled]="isInvalidOther()" #buttonA (click)="removeAndreRows(i)" type="button" class="btnRemove">
                                                                <img src="../../../assets/img/delete.jpg" alt="" height="17.5" width="17.5" />
                                                        </button>
                                          </ng-template>
                                </div>
                        </div>
                </div>
        </div>
</form>