#forward {
  width: 260px;
  text-align: left;
}
#backward {
  width: 135px;
  text-align: right;
}
#forward img {
  float: right;
}
#backward img {
  float: left;
}
.scrollbar {
  height: 650px;
  overflow-y: scroll;
  padding-right: 0px;
  overflow-x: hidden;
}
#formState {
  font-weight: bold;
  font-size: 12px;
}
.force-overflow {
  min-height: 1000px;
}
#formState {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mw-350 {
  min-width: 350px;
  padding: 0px;
  margin: 0px;
}
.mw-350 hr {
  height: 0.1em;
  border: none;
  padding: 0px;
  margin: 10px 0px;
}
.mw-350 img {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 5px;
  right: -5px;
  z-index: 100;
}
.mw-350 input {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 3px;
  right: -8px;
  background: #c7c7c7;
  z-index: 100;
}

.rline {
  border-right: 1px solid #707070;
  float: right;
  height: auto;
  margin: 0px 25px 0px 0px;
  padding: 12px 35px 100px 12px;
}
.sidemenus img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  padding-right: 15px;
  margin-top: 1px;
  width: 35px;
  height: 35px;
}

.inforow .switch,
.inforow .info,
.inforow .actionbtn {
  min-height: 15px;
  line-height: 15px;
  vertical-align: middle;
}

.inforow .switch {
  text-align: right;
}

.inforow .info {
  padding-left: 10px;
}

.inforow .actionbtn button {
  margin: auto;
}

.inforow .actionbtn img {
  width: 18px;
  height: auto;
}
.sidemenus.active button,
.sidemenus.active img {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #212529;
}

button.close {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  float: right;
}

.sidemenus button,
.inforow .actionbtn button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  float: left;
  width: 100%;
  text-align: right;
  margin: 0px;
  padding: 5px 2px;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  vertical-align: middle;
  color: #21252938;
}

.inforow .actionbtn button {
  width: 25px;
  padding: 0px;
  line-height: 25px;
  vertical-align: middle;
}

.row,
.col {
  border: 0px solid;
}

.row {
  border-color: green;
}
.col {
  border-color: yellow;
}

/* PopUp Class Starts*/
.inputWithImg .titleBold {
  padding: 5px 0px;
}
.inputWithImg .titleBoldNew {
  padding: 5px 0px 1px 0px;
}
/*
.updateModel { 
  width: 700px;
  padding: 40px;
  background-image: linear-gradient(104deg, #ffffff, #d8d8d8);
  border-radius: 16px;
}
*/
.contactperson {
  width: 100%;
  padding: 30px;
  border-radius: 16px;
  background-image: linear-gradient(
    104deg,
    rgba(227, 118, 25, 0.25),
    rgba(159, 11, 25, 0.25)
  );
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
}

.updateModel .greenbtn {
  float: none;
}

.center-block {
  text-align: center;
  margin: auto;
  margin: 20px 0px 0px 0px;
}
/*PopUp Class Ends*/

.head label {
  font-weight: bold;
  padding: 10px;
}

.head {
  margin: -10px 0px 0px 0px;
  z-index: 0;
}
.mat-dialog-close {
  text-align: right;
  min-height: none;
  margin-bottom: -15px;
  z-index: 1;
}
.mat-dialog-close button {
  background: none;
  border: none;
  right: 0px;
  padding: 0px;
  margin-bottom: 0px;
}

.RowEmpty {
  margin: 20px 0px;
}

.cdk-overlay-pane .mat-dialog-container {
  width: 700px;
}

.rb {
  margin-top: 20px;
}

.bottom-15 {
  margin-bottom: 15px;
}
.PersonData {
  margin: auto;
  height: 50px;
  clear: both;
  float: none;
  width: max-content;
}
.PersonInitial {
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 25px;
  background-image: linear-gradient(160deg, #9f0b19, #e37619);
  color: #fff;
  float: left;
}
.PersonTitle {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  float: left;
  padding-left: 10px;
}
.emptyrow {
  height: 50px;
}

.red {
  border: 0px solid blue;
}

.newCol {
  height: 10px;
}

/* .switch.switch-small {
  margin: 0px;
  height: 19px;
  border-radius: 19px;
  min-width: 40px;
} */

.inputWithImg1 img {
  position: absolute;
  right: 0px;
  padding: 10px 23px 7px 0px;
  color: #9a0c19;
  top: 33px;
}

.inputWithImg1 .form-control-feedback img {
  padding: 12px 20px 7px 0px;
}

.inputWithImgNew img {
  position: absolute;
  right: 0px;
  padding: 10px 23px 7px 0px;
  color: #9a0c19;
  top: 33px;
}

.inputWithImgNew .form-control-feedback img {
  padding: 12px 20px 7px 0px;
}

div#CustomerContact1 {
  min-height: 80px;
}

.customerBox .PersonContactContent {
  padding-left: 20px;
  padding-right: 20px;
}
#CustomerDetails.customerBox .col {
  padding: 0px 0px;
}
#CustomerDetails.customerBox .col .btnAdd {
  padding: 8px 0px;
}

#PersonContact.customerBox .col {
  padding: 0px 0px;
}
#PersonContact.customerBox .ccc {
  margin-top: 20px;
}
#maincontentarea #CustomerContact1.customerBox .netExpense span {
  padding: 12px 0px;
}
.btnAdd {
  background: transparent;
  border: 0px solid red;
}

.inforow .actioneyebtn button,
.inforow .actiondelbtn button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  float: left;
  width: 100%;
  text-align: right;
  margin: 0px;
  padding: 5px 2px;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: middle;
  color: #21252938;
}

.inforow .actioneyebtn button,
.inforow .actiondelbtn button {
  width: 25px;
  padding: 0px;
  line-height: 25px;
  vertical-align: middle;
}

#personDocument .inforow .actioneyebtn,
#personDocument .inforow .actiondelbtn {
  line-height: 15px;
  vertical-align: middle;
  padding: 0px;
  margin: 0px auto;
  padding: 2px 4px;
}
#personDocument .inforow .actioneyebtn button img {
  width: 24px;
}
#personDocument .inforow .actiondelbtn button img {
  width: 20px;
}
#personDocument .inforow .actioncontent {
  line-height: 28px;
  padding: 2px;
  vertical-align: middle;
  overflow: hidden;
  max-height: 28px;
}
#personDocument .inforow .actioncontent::after {
  content: " --------------------------------------------------------------------------------------------------------";
}
.inforow {
  line-height: 18px;
  vertical-align: middle;
}
.UploadedFiles {
  min-width: 400px;
  max-width: 810px;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}
.whitebtn {
  width: 100%;
  min-width: 180px;
}
::ng-deep #maincontentarea .whitebtn span {
  width: 83%;
  text-align: left;
}
.whitebtn img {
  position: absolute;
  right: 3px;
  width: 25px;
  padding: 0px;
  margin-top: 1px;
}
.radiorow .gap {
  float: left;
  width: 20px;
}
#VCAAttest .row,
#BuildingCards .row,
#StudentAttest .row,
#DrivingLicense .row {
  margin: 15px 0px 0px 0px;
}
#VCAAttest .row .col.fleft,
#BuildingCards .row .col.fleft,
#StudentAttest .row .col.fleft,
#DrivingLicense .row .col.fleft {
  padding: 0px 0px 0px 50px;
}
#VCAAttest .row .col button.whitebtn,
#BuildingCards .row .col button.whitebtn,
#StudentAttest .row .col button.whitebtn,
#DrivingLicense .row .col button.whitebtn {
  margin: 5px 0px 0px 0px;
}
#personDocument .general {
  margin: 0px 0px 5px 0px;
}

.inputWrapper{
  margin-top: 10px;
}
#VCAAttest h4,
#BuildingCards h4,
#StudentAttest h4{
  margin-top: 5px;
}
#StudentAttest .inputWrapper{
  margin-top: 5px;
}