<div class="row">
  <div class="col col-sm-12 dashboardactionhead">
    <div class="notify">
      <sup>{{notificationcount}}</sup> <img src="../../../../assets/svg/bell.svg" style="width:20px" />
    </div>
    <div class="dashboardtitle">Items te behandelen
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-sm-12 dashboardactioncontent">
    <div class="row">
      <div class="col col-sm-3">
        <img src="../../../../assets/svg/circle.svg" style="width:12px">
        <span>Vanessa Martens</span>
      </div>
      <div class="col col-sm-3"><span>Poetsdame</span></div>
      <div class="col col-sm-2 dt"><span>11/02/2019 - 15/02/2019</span></div>
      <div class="col col-sm-4">
        <span>Student@work gegevens toevoegen</span>
        <button><img src="../../../../assets/svg/eye.svg"></button>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-3">
        <img src="../../../../assets/svg/circle.svg" style="width:12px">
        <span>Vanessa Martens</span>
      </div>
      <div class="col col-sm-3"><span>Poetsdame</span></div>
      <div class="col col-sm-2 dt"><span>11/02/2019 - 15/02/2019</span></div>
      <div class="col col-sm-4">
        <span>Student@work gegevens toevoegen</span>
        <button><img src="../../../../assets/svg/eye.svg"></button>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-3">
        <img src="../../../../assets/svg/circle.svg" style="width:12px">
        <span>Vanessa Martens</span>
      </div>
      <div class="col col-sm-3"><span>Poetsdame</span></div>
      <div class="col col-sm-2 dt"><span>11/02/2019 - 15/02/2019</span></div>
      <div class="col col-sm-4">
        <span>Student@work gegevens toevoegen</span>
        <button><img src="../../../../assets/svg/eye.svg"></button>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-3">
        <img src="../../../../assets/svg/circle.svg" style="width:12px">
        <span>Vanessa Martens</span>
      </div>
      <div class="col col-sm-3"><span>Poetsdame</span></div>
      <div class="col col-sm-2 dt"><span>11/02/2019 - 15/02/2019</span></div>
      <div class="col col-sm-4">
        <span>Student@work gegevens toevoegen</span>
        <button><img src="../../../../assets/svg/eye.svg"></button>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-3">
        <img src="../../../../assets/svg/circle.svg" style="width:12px">
        <span>Vanessa Martens</span>
      </div>
      <div class="col col-sm-3"><span>Poetsdame</span></div>
      <div class="col col-sm-2 dt"><span>11/02/2019 - 15/02/2019</span></div>
      <div class="col col-sm-4">
        <span>Student@work gegevens toevoegen</span>
        <button><img src="../../../../assets/svg/eye.svg"></button>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-3">
        <img src="../../../../assets/svg/circle.svg" style="width:12px">
        <span>Vanessa Martens</span>
      </div>
      <div class="col col-sm-3"><span>Poetsdame</span></div>
      <div class="col col-sm-2 dt"><span>11/02/2019 - 15/02/2019</span></div>
      <div class="col col-sm-4">
        <span>Student@work gegevens toevoegen</span>
        <button><img src="../../../../assets/svg/eye.svg"></button>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-3">
        <img src="../../../../assets/svg/circle.svg" style="width:12px">
        <span>Vanessa Martens</span>
      </div>
      <div class="col col-sm-3"><span>Poetsdame</span></div>
      <div class="col col-sm-2 dt"><span>11/02/2019 - 15/02/2019</span></div>
      <div class="col col-sm-4">
        <span>Student@work gegevens toevoegen</span>
        <button><img src="../../../../assets/svg/eye.svg"></button>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-3">
        <img src="../../../../assets/svg/circle.svg" style="width:12px">
        <span>Vanessa Martens</span>
      </div>
      <div class="col col-sm-3"><span>Poetsdame</span></div>
      <div class="col col-sm-2 dt"><span>11/02/2019 - 15/02/2019</span></div>
      <div class="col col-sm-4">
        <span>Student@work gegevens toevoegen</span>
        <button><img src="../../../../assets/svg/eye.svg"></button>
      </div>
    </div>
  </div>
</div>