<div class="row">
  <div class="col col-sm-12 dashboardactionhead">
    <div class="notify">
      <sup>{{notificationcount}}</sup> <img src="../../../../assets/svg/bell.svg" style="width:20px" />
    </div>
    <div class="dashboardtitle">Items te behandelen
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-sm-12 dashboardactioncontent">
    <div class="row" *ngFor="let data of datas let i= index">
      <div class="col col-sm-7">
        <span class="dot_{{data.priority}}"></span>
        <span>{{data.Message}}</span>
      </div>
      <div class="col col-sm-4 dt"><span>{{data.DateTime}}</span></div>
      <div class="col col-sm-1">
        <button (click)="goToAction(data.ActionTypeId,data.ObjectId,data.SecondId)"><img
            src="../../../../assets/svg/eye.svg"></button>
      </div>
    </div>
  </div>
</div>
{{errorMsg}}