<div id="maincontentarea" class="updateModel">
    <div class="row ">
        <div class="col-sm-12 mat-dialog-close">
            <button mat-button [mat-dialog-close]="currentContract" class=""><img
                    src="../../../../../assets/svg/closebox.svg" /></button>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 center-block head">
            <img src='../../../assets/svg/UserUpdate.svg'>
            <br /> <label>Contract raadplegen</label>
            <hr>
        </div>
    </div>
    <form [formGroup]="ContractForm" novalidate id="ContractForm">
        <div class="contactperson" id="maincontent">
            <div class="row">
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Voorname: </label>
                    <input formControlName="firstname" class="form-control" name="firstname" type="text" required />
                    <div class="form-control-feedback"
                        *ngIf="ContractForm.controls.firstname.invalid && (ContractForm.controls.firstname.dirty || ContractForm.controls.firstname.touched) else newvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #newvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>

                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Naam: </label>
                    <input formControlName="lastname" class="form-control" name="lastname" type="text" required />
                    <div class="form-control-feedback"
                        *ngIf="ContractForm.controls.lastname.invalid && (ContractForm.controls.lastname.dirty || ContractForm.controls.lastname.touched) else anewvalid">
                        <img src="../../assets/img/InvalidIcon.png" alt="">
                    </div>
                    <ng-template #anewvalid>
                        <img src="../../assets/img/ValidIcon.png" alt="">
                    </ng-template>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Functie: </label>
                    <select class='form-control' required [(ngModel)]='positionSelected' (ngModelChange)='onPositionsSelected($event)' [ngModelOptions]="{standalone: true}">
                        <option class='option' *ngFor='let position of dpsPositionsData' [value]="position.position.name">{{position.position.name}}</option>
                    </select>
                    
                </div>               
            </div>

        
                  
                  <label class="titleBold"> Start Date: </label>
                  <app-calendar (childEvent)="receiveMessageStartDate($event)">                      
                  </app-calendar> 
                
          
                    
                <label class="titleBold"> End Date: </label>
                <app-calendar (childEvent)="receiveMessageEndDate($event)">                    
                </app-calendar> 

           
            <div class="row">
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Werkrooster: </label>                  
                    <select class='form-control' required [(ngModel)]='workScheduleSelected' (ngModelChange)='onWorkScheduleSelected($event)' [ngModelOptions]="{standalone: true}">
                        <option class='option' *ngFor='let workSchedule of dpsWorkSchedulesData' [value]="workSchedule.id">{{workSchedule.name}} </option>
                    </select>
                </div> 
                <div class="col-sm-6 inputWithImg">
                    <label class="titleBold"> Vestiging: </label>
                    <select class='form-control' required [(ngModel)]='locationSelected' (ngModelChange)='onLocationSelected($event)' [ngModelOptions]="{standalone: true}">
                            <option class='option' *ngFor='let location of locationsData' [value]="location.id">{{location.name}} </option>
                        </select>
                </div>           
               
            </div>
        </div>

        <div class="row">
             <div class="col col-sm-4 center-block">
                <button class="greenbtn" id="btnPrint" (click)="onPrintContractClick()"><span>Afdrukken</span>
                </button>
            </div> 
            <div class="col col-sm-4 center-block">
                <button class="greenbtn" id="btnApprove" (click)="onApproveContractClick()"><span>Goedkeuren</span>
                </button>
            </div>
             <div class="col col-sm-4 center-block">
                <button class="greenbtn" id="btnCancel" (click)="onCancelContractClick()"><span>Annuleren</span>
                </button>
            </div> 

        </div>
    </form>
</div>