nav {
  position: fixed;
  background: #00032b;
  z-index: 999;
}
nav a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border: 0px;
  border: none;
}
nav a img {
  width: 16px;
  height: 16px;
  border: 0px;
  border: none;
}

nav a:hover {
}

nav a:hover img {
  width: 21px;
  height: 21px;
}
nav a .Label {
  position: relative;
  color: #00032b;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  width: auto;
  top: -21px;
  left: 26px;
  display: none;
  text-shadow: 4px 3px 8px rgba(61, 56, 56, 0.94);
}
nav a:hover .Label {
  display: none;
}

nav {
  border-radius: 12px;
  width: 24px;
  margin-top: 24px;
  margin-left: 12px;
  height: 144px;
}
nav a {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
nav a:nth-child(1) {
  margin-top: 12px;
}
nav a:nth-last-child(1) {
  margin-bottom: 12px;
}

#dashboard {
  background: url("../../../assets/svg/home.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
#customer {
  background: url("../../../assets/svg/customer.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
#schedule {
  background: url("../../../assets/svg/schedule.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
#settings {
  background: url("../../../assets/svg/setting.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
#logout {
  background: url("../../../assets/svg/logout.svg") no-repeat;
  background-size: contain;
  background-position: center;
}

.Active #dashboard {
  background: url("../../../assets/svg/home_hover.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
.Active #customer {
  background: url("../../../assets/svg/customer_hover.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
.Active #schedule {
  background: url("../../../assets/svg/schedule_hover.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
.Active #settings {
  background: url("../../../assets/svg/setting_hover.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
.Active #logout {
  background: url("../../../assets/svg/logout_hover.svg") no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 400px) {
  nav {
    border-radius: 16px;
    width: 32px;
    margin-top: 32px;
    margin-left: 16px;
    height: 192px;
  }
  nav a {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  nav a:nth-child(1) {
    margin-top: 16px;
  }
  nav a:nth-last-child(1) {
    margin-bottom: 16px;
  }
  nav a img {
    width: 20px;
    height: 20px;
  }

  nav a:hover img {
    width: 25px;
    height: 25px;
  }
  nav a .Label {
    font-size: 12px;
    top: -32px;
    left: 34px;
    text-shadow: 4px 3px 8px rgba(61, 56, 56, 0.94);
  }
}

@media (min-width: 500px) {
  nav {
    border-radius: 20px;
    width: 40px;
    margin-top: 40px;
    margin-left: 20px;
    height: 240px;
  }
  nav a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  nav a:nth-child(1) {
    margin-top: 20px;
  }
  nav a:nth-last-child(1) {
    margin-bottom: 20px;
  }
  nav a img {
    width: 24px;
    height: 24px;
  }

  nav a:hover img {
    width: 30px;
    height: 30px;
  }
  nav a .Label {
    font-size: 12px;
    top: -40px;
    left: 42px;
    text-shadow: 4px 3px 8px rgba(61, 56, 56, 0.94);
  }
}
@media (min-width: 600px) {
  nav {
    border-radius: 24px;
    width: 48px;
    margin-top: 48px;
    margin-left: 24px;
    height: 288px;
  }
  nav a {
    width: 48px;
    height: 48px;
    line-height: 48px;
  }
  nav a:nth-child(1) {
    margin-top: 24px;
  }
  nav a:nth-last-child(1) {
    margin-bottom: 24px;
  }
  nav a img {
    width: 28px;
    height: 28px;
  }

  nav a:hover img {
    width: 35px;
    height: 35px;
  }
  nav a .Label {
    font-size: 14px;
    top: -48px;
    left: 52px;
    text-shadow: 4px 3px 8px rgba(61, 56, 56, 0.94);
  }
}
@media (min-width: 700px) {
  nav {
    border-radius: 28px;
    width: 56px;
    margin-top: 56px;
    margin-left: 12px;
    height: 336px;
  }
  nav a {
    width: 56px;
    height: 56px;
    line-height: 56px;
  }
  nav a:nth-child(1) {
    margin-top: 28px;
  }
  nav a:nth-last-child(1) {
    margin-bottom: 28px;
  }
  nav a img {
    width: 32px;
    height: 32px;
  }

  nav a:hover img {
    width: 40px;
    height: 40px;
  }
  nav a .Label {
    font-size: 16px;
    top: -55px;
    left: 60px;
    text-shadow: 4px 3px 8px rgba(61, 56, 56, 0.94);
  }
}
/*
@media (min-width:800px) {    
    nav {border-radius: 32px;width: 64px;margin-top: 64px;margin-left: 64px;height: 384px;}
    nav a {width:64px; height:64px; line-height: 64px;}
    nav a:nth-child(1){margin-top:32px;}
    nav a:nth-last-child(1){margin-bottom:32px;}  
    nav a img {width: 36px;height: 36px;}
}
*/
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}
