/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background-image: url("assets/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: "Arial Rounded MT Bold", Roboto, "Helvetica Neue", Verdana,
    Geneva, Tahoma, sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}
.titleBold {
  font-size: 14px;
  font-weight: 600;
}
.titleNormal {
  font-size: 14px;
  font-weight: normal;
}
.panelbg {
  background-image: linear-gradient(
    104deg,
    rgba(227, 118, 25, 0.25),
    rgba(159, 11, 25, 0.25)
  );
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.boxShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.middle-block {
  vertical-align: middle;
  padding-top: 7px;
}
.center-block {
  text-align: center;
  margin: auto;
}
.right-block {
  text-align: right;
  margin: auto;
}
.left-block {
  text-align: left;
  margin: auto;
}
.pagehead {
  font-size: 20px;
  font-weight: bold;
}
.scrollbar {
  height: calc(100vh - 335px);
  /*height: 580px;*/
  overflow-y: scroll;
  padding-right: 20px;
}
.error {
  color: red;
}
#maincontentarea span {
  font-size: 15px;
  font-weight: normal;
  padding: 5px 5px 5px 7px;
}

#maincontentarea .whitebtn span {
  font-size: 15px;
  font-weight: normal;
  padding: 0px;
}

#maincontentarea #customerUpdate span {
  padding: 0px;
}
#maincontentarea #customerUpdate .switch.switch-small {
  margin: 0px;
}

#maincontentarea input[type="text"],
#maincontentarea input[type="password"],
#maincontentarea input[type="number"],
#maincontentarea input[type="email"],
#maincontentarea textarea {
  width: 100%;
  font-size: 15px;
  font-weight: normal;
  padding: 3px;
  border-radius: 4px;
  margin: 4px 0px;
  border: 1px solid #e37619;
}

#maincontentarea input:hover,
#maincontentarea input:focus,
#maincontentarea input::selection,
#maincontentarea input::-webkit-keygen-select,
#maincontentarea input::-moz-selection,
#maincontentarea input::-moz-focusring {
  box-shadow: 0px 3px 6px rgba(227, 118, 25, 0.4);
}
.selectcomponent {
  width: 100%;
  font-size: 15px;
  font-weight: normal;
  padding: 5px;
  border-radius: 4px;
  margin: 4px 0px;
  border: 1px solid #e37619;
  line-height: 22px;
  height: calc(1.5em + 0.5rem + 2px);
}
.selectcomponent:hover {
  box-shadow: 0px 3px 6px rgba(227, 118, 25, 0.4);
}
.selectcomponent option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.jointcommittee {
  min-width: 150px;
  max-width: 100%;
}
.jointcommittee {
  min-width: 150px;
  max-width: 100%;
}
.countries {
  min-width: 100px;
  max-width: 100%;
}
.legalform {
  min-width: 100px;
  max-width: 100%;
}
div.customerBox {
  min-width: 400px;
  max-width: 810px;
  margin: 0px 0px 30px 0px;
  padding: 15px 15px 30px 15px;
  border-radius: 10px;
  background: #fff;
  background-image: linear-gradient(
    104deg,
    rgba(227, 118, 25, 0.25),
    rgba(159, 11, 25, 0.25)
  );
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

div.customerBox div.customerBoxContect {
  padding: 10px 20px 20px;
}

div.SaveButton {
  min-width: 400px;
  max-width: 810px;
  margin: 0px 0px 30px 0px;
  padding: 0px 15px;
}

div#CustomerGeneralDetails {
  min-height: 150px;
}
div#CustomerDetails {
  min-height: 150px;
}
div#CustomerContact {
  min-height: 220px;
}
div#PersonContact {
  min-height: 180px;
}
.panelheader hr {
  margin-bottom: 1rem;
  margin-left: -15px;
  padding: 0px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
  box-sizing: content-box;
  height: 0;
}
.panelheader {
  margin-left: -15px;
}

.fright {
  float: right;
  text-align: right;
}
.fleft {
  float: left;
  text-align: left;
}
.fright h4,
.fleft h4 {
  margin: 0px;
  padding: 10px 1px 0px 0px;
  font-size: 16px;
  font-weight: 600;
}
.row,
.col {
  border: 0px solid;
}
.row {
  border-color: green;
  /*
  margin-left: 0px;
  margin-right: 0px;
  */
}
.col {
  border-color: yellow;
}
.switch.switch-small {
  margin: 15px 5px 15px 5px;
  height: 19px;
  border-radius: 19px;
  min-width: 40px;
}
.switch.switch-small small {
  width: 14px;
  height: 14px;
  margin: 3px;
  right: calc(100% - 19px);
}
.switch.checked small {
  right: 0px;
}
#maincontentarea .ng-valid span {
  font-size: 15px;
  font-weight: normal;
  padding: 1px;
}

#maincontentarea .mealrow span {
  font-size: 15px;
  font-weight: normal;
  padding: 1px;
  float: left;
  line-height: 48px;
  vertical-align: middle;
}

.hideme {
  display: none;
}

#maincontentarea .inputWithIcon,
#maincontentarea .inputWithEuro,
#maincontentarea .dialog .inputWithIcon,
.inputWithIcon,
.inputWithEuro {
  position: relative;
}

#maincontentarea .inputWithIcon i,
.inputWithIcon i {
  position: absolute;
  left: 2px;
  padding: 11px;
  color: #000;
}

#maincontentarea .inputWithEuro i,
.inputWithEuro i {
  position: absolute;
  left: 5px;
  top: 37px;
  color: #000;
}

#maincontentarea .inputWithNoIcon input[type="text"],
#maincontentarea .inputWithIcon input[type="text"],
.inputWithIcon input[type="text"],
#maincontentarea .inputWithIcon input[type="password"],
.inputWithIcon input[type="password"],
#maincontentarea .inputWithIcon input[type="number"],
.inputWithIcon input[type="number"],
#maincontentarea .inputWithIcon input[type="email"],
.inputWithIcon input[type="email"],
#maincontentarea .inputWithEuro input[type="text"],
.inputWithEuro input[type="text"],
#maincontentarea .inputWithEuro input[type="number"],
.inputWithEuro input[type="number"],
#maincontentarea .inputWithIcon input,
#maincontentarea .inputWithEuro input {
  padding-left: 20px;
}

#maincontentarea .inputWithIcon input[type="text"] + i,
.inputWithIcon input[type="text"] + i,
#maincontentarea .inputWithIcon input[type="password"] + i,
.inputWithIcon input[type="password"] + i,
#maincontentarea .inputWithIcon input[type="number"] + i,
.inputWithIcon input[type="number"] + i,
#maincontentarea .inputWithIcon input[type="email"] + i,
.inputWithIcon input[type="email"] + i,
#maincontentarea .inputWithEuro input[type="text"] + i,
.inputWithEuro input[type="text"] + i,
#maincontentarea .inputWithEuro input[type="number"] + i,
.inputWithEuro input[type="number"] + i {
  padding-left: 20px;
  padding-right: 0px;
}

#maincontentarea .inputWithImg img,
.inputWithImg img {
  position: absolute;
  right: 0px;
  padding: 6px 23px 7px 0px;
  color: #9a0c19;
  top: 33px;
}
#maincontentarea .inputWithImg .form-control-feedback img {
  padding: 10px 20px 7px 0px;
}

#maincontentarea.updateModel .inputWithImg .form-control-feedback img {
  padding: 16px 20px 7px 0px;
}

#maincontentarea #editPersonForm .inputWithImg img {
  padding: 15px 20px 7px 0px;
}

#maincontentarea .inputWithImg div,
.inputWithImg div {
  position: absolute;
  right: 2px;
  padding: 7px 25px 7px 0px;
  color: #9a0c19;
  top: 0px;
}
#maincontentarea input[type="text"].form-control,
#maincontentarea .inputWithImg input[type="text"],
.inputWithImg input[type="text"],
#maincontentarea input[type="number"].form-control,
#maincontentarea .inputWithImg input[type="number"],
.inputWithImg input[type="number"],
#maincontentarea input[type="email"].form-control,
#maincontentarea .inputWithImg input[type="email"],
.inputWithImg input[type="email"],
#maincontentarea .inputWithImg input {
  padding-right: 24px;
  padding-left: 5px;
}
.inputWithIcon .fa-2 {
  font-size: 1.4em;
}
.form-control + img,
.form-control + div {
  padding-right: 30px;
  z-index: 10;
}

#maincontentarea .inputWithEuro input[type="number"].form-control {
  padding-left: 24px;
  padding-right: 5px;
}

#maincontentarea .inputWithNoIcon input[type="number"].form-control {
  padding-left: 5px;
  padding-right: 5px;
}

#maincontentarea #hqform span,
#maincontentarea #CTForm span {
  padding: 0px;
}

#maincontentarea #hqform .switch.switch-small,
#maincontentarea #CTForm .switch.switch-small {
  margin: 0px;
}

#PositionForm .rb label,
#PositionForm .rb span {
  /* float: left; */
}
#PositionForm .rb span {
  height: 19px;
  padding: 0px;
  margin: 0px;
}

#PositionForm .rb label {
  padding: 0px 5px 14px;
}

#maincontentarea .dialog .inputWithIcon,
.dialog .inputWithIcon {
  position: relative;
}

#maincontentarea .dialog .inputWithIcon i,
.dialog .inputWithIcon i {
  position: absolute;
  right: -25px;
  padding: 11px;
  color: #000;
  left: auto;
}

#maincontentarea .dialog .inputWithIcon input[type="text"],
.dialog .inputWithIcon input[type="text"],
#maincontentarea .dialog .inputWithIcon input[type="password"],
.dialog .inputWithIcon input[type="password"],
#maincontentarea .dialog .inputWithIcon input[type="number"],
.dialog .inputWithIcon input[type="number"],
#maincontentarea .dialog .inputWithIcon input[type="email"],
.dialog .inputWithIcon input[type="email"],
#maincontentarea .dialog .inputWithIcon input {
  padding-right: 42px;
  padding-left: 5px;
}
#maincontentarea .dialog .inputWithIcon input[type="text"] + i,
.dialog .inputWithIcon input[type="text"] + i,
#maincontentarea .dialog .inputWithIcon input[type="password"] + i,
.dialog .inputWithIcon input[type="password"] + i,
#maincontentarea .dialog .inputWithIcon input[type="number"] + i,
.dialog .inputWithIcon input[type="number"] + i,
#maincontentarea .dialog .inputWithIcon input[type="email"] + i,
.dialog .inputWithIcon input[type="email"] + i {
  padding-right: 42px;
  padding-left: 5px;
}
#maincontentarea label {
  width: 100%;
}
.form-control {
  line-height: 22px;
  height: calc(1.5em + 0.5rem + 2px);
}

#maincontentarea .radiorow span,
#maincontentarea .radiorow label {
  font-size: 15px;
  font-weight: bold;
  padding: 1px;
  float: left;
  line-height: 48px;
  vertical-align: middle;
}

.m50 {
  margin-left: 50px;
}
#maincontentarea .m50 select {
  width: 80%;
}
#maincontentarea .m50 input[type="text"] {
  width: 80%;
}

.orangebtn,
.greenbtn,
.greenbtnnew,
.greenButton,
.whitebtn {
  background-image: linear-gradient(45deg, #e37619, #b12819);
  margin: 10px 0px 0px 0px;
  border-radius: 19px;
  line-height: 28px;
  padding: 0px 10px;
  height: 32px;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  min-width: 150px;
  outline: 0px;
  border: 0px;
}

.orangebtn:hover,
.greenbtn:hover,
.greenbtnnew:hover,
.greenButton:hover,
.whitebtn:hover {
  color: #fff;
  font-weight: 500;
  text-shadow: 0 0 2px #000;
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

.orangebtn img,
.greenbtn img,
.greenbtnnew img,
.whitebtn img {
  float: right;
  padding: 4px 0px 0px 0px;
  /* padding: 4px 0px 2px 10px; */
}

.orangebtn img {
  width: 28px;
}
.orangebtn-save img {
  width: 28px;
}
.greenbtn img {
  margin: 1px -5px 0px 5px;
}
.greenbtnnew img {
  width: 28px;
}
.greenButton img {
  width: 28px;
}
.whitebtn img {
  position: absolute;
  width: 10%;
  padding: 4px 0px 4px 10px;
}
.whitebtn:hover {
  color: #000;
  font-weight: 500;
  text-shadow: 0 0 2px #ccc;
  -moz-text-shadow: 0 0 2px #ccc;
  -webkit-text-shadow: 0 0 2px #ccc;
}

.whitebtn span {
  float: left;
}

.greenbtn {
  /*background-image: linear-gradient(#0fc600, #057e0f);*/
  background-image: none;
  background-color: #0fc600;
  float: right;
  border: 1px solid #11ad02;
  font-size: 16px;
  height: 28px;
  border-radius: 14px;
}

.greenbtnnew {
  /*background-image: linear-gradient(#0fc600, #057e0f);*/
  background-image: none;
  background-color: #0fc600;
  float: left;
  border: 0px solid #11ad02;
}

.greenButton {
  background-image: none;
  background-color: #0fc600;
  float: left;
  border: 1px solid #11ad02;
  font-size: 16px;
  height: 28px;
  border-radius: 14px;
}

.whitebtn {
  background-image: none;
  background-color: #fff;
  border: 1px solid #e37619;
  color: #000;
  height: 32px;
  font-size: 16px;
  border-radius: 16px;
  min-width: 210px;
}
.redbtn {
  background-image: none;
  background-color: #9c0b19;
  border: 1px solid #6d0611;
}

.transbtn {
  background-image: none;
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  font-weight: 600;
}
.orangebtn:disabled {
  background-image: linear-gradient(45deg, #dfdfdf, #b8b8b8);
}
.greenbtn:disabled,
.greenbtnnew:disabled {
  color: #a09f9f;
  background-image: linear-gradient(90deg, #ccc, #ddd);
  border: 1px solid #b0a6a6;
}
.greenbtn:hover:disabled,
.greenbtnnew:hover:disabled {
  color: #a09f9f;
  font-weight: 400;
  text-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
}

.redbtn:disabled {
  background-image: none;
}
.transbtn:disabled {
  background-image: none;
}
#btnSave.greenbtn,
#btnSave.greenbtnnew {
  min-width: 200px;
}

#btnDelete.redbtn {
  min-width: 200px;
}

#maincontentarea input[type="text"].workcode {
  padding-right: 5px;
  padding-left: 5px;
  line-height: 30px;
  height: 30px;
}
.alertsContainer .alertsRow {
  border: 1px solid #ffc549;
}
.alertsContainer .alertsRow .closeicon a {
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

/*mat-dialog-container ng-tns-c14-1 ng-trigger ng-trigger-dialogContainer ng-star-inserted*/

.cdk-overlay-pane .mat-dialog-container {
  padding: 40px;
  background-image: linear-gradient(45deg, #fefefe, #b8b8b8);
  border-radius: 16px;
  height: inherit; /* allow scrolling within dialog */
}

.inputWrapper {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-image: none;
  background-color: #fff;
  border: 1px solid #e37619;
  color: #000;
  height: 32px;
  font-size: 16px;
  border-radius: 16px;
  min-width: 160px;
  max-width: 210px;
  padding: 4px 10px 4px 10px;
}
.inputWrapper:hover {
  color: #000;
  font-weight: 500;
  text-shadow: 0 0 2px #ccc;
  -moz-text-shadow: 0 0 2px #ccc;
  -webkit-text-shadow: 0 0 2px #ccc;
}
.inputWrapper img {
  position: absolute;
  width: 25px;
  right: 3px;
  top: 3px;
  padding: 0px;
}

.inputWrapper .fileInput {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  /*This makes the button huge so that it can be clicked on*/
}
.inputWrapper .hidden {
  /*Opacity settings for all browsers*/
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.fcontent {
  padding: 20px 20px 0px 20px;
}

.middlecenter {
  display: block;
  margin: auto;
  padding-top: 10%;
  text-align: center;
}

#maincontentarea .netExpense .switch {
  height: 14px;
  padding: 0px;
  border: 1px solid #00032b;
}

#maincontentarea .netExpense .switch.switch-small {
  margin: 0px;
  height: 19px;
  border-radius: 19px;
  min-width: 40px;
}

#maincontentarea .inputWithImg1 img,
.inputWithImg1 img {
  position: absolute;
  right: 0px;
  padding: 10px 23px 7px 0px;
  color: #9a0c19;
  top: 33px;
}

#maincontentarea .inputWithImgNew img,
.inputWithImgNew img {
  position: absolute;
  right: 0px;
  padding: 0px 23px 7px 0px;
  color: #9a0c19;
  top: 10px;
}
#maincontentarea .inputWithImg1 .form-control-feedback img {
  padding: 12px 20px 7px 0px;
}
#maincontentarea .inputWithImgNew .form-control-feedback img {
  padding: 2px 23px 7px 0px;
}

div#CustomerContact1 {
  min-height: 50px;
}

.showborder-red {
  border: 1px solid red;
}
.showborder-green {
  border: 1px solid green;
}
.showborder-blue {
  border: 1px solid blue;
}
.showborder-yellow {
  border: 1px solid yellow;
}
.showborder-orange {
  border: 1px solid orange;
}

#maincontent::-webkit-scrollbar-track {
  background-color: transparent;
}
#maincontent::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}
#maincontent::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
}
#maincontentarea {
  margin: 0px;
  padding: 0px;
}
#maincontentarea span.dot_0,
#maincontentarea span.dot_1,
#maincontentarea span.dot_2,
#maincontentarea span.dot_3 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  padding: 0px;
  margin-right: 20px;
}
#maincontentarea span.dot_0 {
  background-color: #e37619;
}
#maincontentarea span.dot_1 {
  background-color: green;
}
#maincontentarea span.dot_2 {
  background-color: red;
}
#maincontentarea span.dot_3 {
  background-color: blue;
}

#maincontentarea .inputWithImgNew .euro input[type="text"].form-control {
  padding-left: 18px;
}

#maincontentarea .inputWithImgNew .euro .fa-eur {
  position: absolute;
  left: 20px;
  top: 13px;
}

#mySpinner .overlay {
  position: fixed;
}

/*You can add global styles to this file, and also import other style files*/

.checkbox-slide input[type="checkbox"] {
  opacity: 0;
}

.checkbox-slide label {
  width: 60px;
  height: 34px;
  position: relative;
  background: silver;
  border-radius: 20px;
  cursor: pointer;
}
.checkbox-slide label::after {
  content: "";
  background: #fff;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  display: block;
  position: absolute;
  border-radius: 50%;
  transition: all ease 0.4s;
}

input[type="checkbox"]:checked + label {
  background: green;
}

input[type="checkbox"]:checked + label::after {
  left: 30px;
}
