#forward {
  width: 220px;
  text-align: left;
}
#backward {
  width: 135px;
  text-align: right;
}
#forward img {
  float: right;
}
#backward img {
  float: left;
}
.scrollbar {
  height: calc(100vh - 320px);
  /*height: 580px;*/
  overflow-y: scroll;
  padding-right: 20px;
  overflow-x: hidden;
}
#formState {
  font-weight: bold;
  font-size: 12px;
}
.force-overflow {
  min-height: 1000px;
}
#formState {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mw-350 {
  min-width: 350px;
  padding: 0px;
  margin: 0px;
}
.mw-350 hr {
  height: 0.1em;
  border: none;
  padding: 0px;
  margin: 10px 0px;
}
.mw-350 img {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 5px;
  right: -5px;
  z-index: 100;
}
.mw-350 input {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 3px;
  right: -8px;
  background: #c7c7c7;
  z-index: 100;
}

.DOBCont {
  border: blue solid 0px;
}

.DOB {
  border: red solid 0px;
  margin: -1px 0px 0px -1px;
}

.DOB .col {
  padding: 2px;
  margin: 0px;
}

#maincontentarea .DOBCont .inputWithImg img,
.DOBCont .inputWithImg img {
  padding: 0px 0px 0px 0px;
  margin: -21px 8px 0px 0px;
}

.radiorow .dynrow .col-sm-1,
.radiorow .dynrow .col-sm-2,
.radiorow .dynrow .col-sm-3,
.radiorow .dynrow .col-sm-4,
.radiorow .dynrow .col-sm-5,
.radiorow .dynrow .col-sm-6,
.radiorow .dynrow .col-sm-7,
.radiorow .dynrow .col-sm-8,
.radiorow .dynrow .col-sm-9,
.radiorow .dynrow .col-sm-10,
.radiorow .dynrow .col-sm-11,
.radiorow .dynrow .col-sm-12 {
  padding-right: 3px;
  padding-left: 3px;
  background: red;
}

.btnAdd {
  background: transparent;
  border: 0px solid red;
}

.red {
  border: 0px solid blue;
}

.newCol {
  height: 10px;
}

.switch.switch-small {
  margin: 0px;
  height: 19px;
  border-radius: 19px;
  min-width: 40px;
}

.customerBox .PersonContactContent {
  padding-left: 20px;
  padding-right: 20px;
}
#CustomerDetails.customerBox .col {
  padding: 0px 0px;
}
#CustomerDetails.customerBox .col .btnAdd {
  padding: 8px 0px;
}

#PersonContact.customerBox .col {
  padding: 0px 0px;
}
#PersonContact.customerBox .ccc {
  margin-top: 20px;
}
#maincontentarea #CustomerContact1.customerBox .netExpense span {
  padding: 12px 0px;
}
#maincontentarea #AddPersonForm1 .inputWithImgNew .euro input {
  padding-left: 18px;
}

#maincontentarea #AddPersonForm1 .inputWithImgNew .fa-eur {
  position: absolute;
  left: 20px;
  top: 13px;
}

.floatbreak {
  clear: both;
  float: none;
}
