<app-headers></app-headers>
<app-menu></app-menu>
<div class="row">
  <div class="col col-sm-3"></div>
  <div class="col col-sm-6 center-block"><img src="../../../../assets/svg/createPerson.svg" style="left:-15"><br />
    <div class="pagehead">PERSOON AANMAKEN</div>
  </div>
  <div class="col col-sm-3"></div>
</div>

<div class="row" id="formState">
  <div class="col col-sm-3"></div>
  <div class="col col-sm-3 center-block mw-350" style="color:#9A0C19;">
    1. Persoonlijke gegevens
    <hr style="background-color:#9A0C19;" /><img src="../../assets/svg/circle.svg">
  </div>
  <div class="col col-sm-3 center-block mw-350" style="color:#C7C7C7;">
    2. Functie
    <hr style="background-color:#C7C7C7;" /><input type="checkbox" id="formOk" value="0" disabled checked />
  </div>
  <div class="col col-sm-3"></div>
</div>

<div class="row">
  <div class="col col-sm-3"></div>
  <div class="col col-sm-6" id="maincontentarea">
    <div class="scrollbar" id="maincontent">
      <div id="from2" *ngIf="showFormIndex === 1">
        <div id="CustomerDetails" class="customerBox">
          <div class="row panelheader">
            <div class="col col-sm-5 fright">
              <h4>Algemeen</h4>
              <hr>
            </div>
            <div class="col col-sm-7"></div>
          </div>

        </div>

        <div id="CustomerContact" class="customerBox">
          <div class="row panelheader">
            <div class="col col-sm-5 fright">
              <h4>Contractgegevens</h4>
              <hr>
            </div>
            <div class="col col-sm-7"></div>
          </div>

        </div>

      </div>
      <div id="from1" *ngIf="showFormIndex === 2">
        <div id="CustomerDetails" class="customerBox">
          <div class="row panelheader">
            <div class="col col-sm-5 fright">
              <h4>Functie</h4>
              <hr>
            </div>
            <div class="col col-sm-7"></div>
          </div>
          <div class="row panelheader">
            <div class="col col-sm-12">
              <label class="titleBold">Functie</label>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-9">
              <input type="text" name="txtFunctie" />
            </div>
            <div class="col col-sm-3 inputWithImg">

            </div>
          </div>
        </div>

        <div id="CustomerContact" class="customerBox">
          <div class="row panelheader">
            <div class="col col-sm-5 fright">
              <h4>Verloning</h4>
              <hr>
            </div>
            <div class="col col-sm-7"></div>
          </div>

        </div>
        <div id="CustomerContact" class="customerBox">
          <div class="row">
            <div class="col col-sm-2">
              <ui-switch></ui-switch>
            </div>
            <div class="col col-sm-10"><label class="titleBold">Kilometervergoeding</label></div>
          </div>
        </div>
        <div id="CustomerContact" class="customerBox">
          <div class="row">
            <div class="col col-sm-12"><label class="titleBold">Extra informatie</label></div>
          </div>
          <div class="row">
            <div class="col col-sm-12"><textarea name="extra">Extra .....</textarea></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-sm-3">
    <button class="btn" id="forward" (click)="onFormwardClick()">Volgende stap <img
        src="../../assets/svg/right-arrow.svg" style="width:20px" /></button><br />
    <button class="btn" id="backward" (click)="onBackwardClick()" [disabled]="showFormIndex === 1"><img
        src="../../assets/svg/left-arrow.svg" style="width:20px" /> Terug</button>
  </div>
</div>