.orangebtn {
  background-image: linear-gradient(
    104deg,
    rgba(227, 118, 25, 1),
    rgba(159, 11, 25, 1)
  );
  margin: 20px 50px 0px 0px;
  border-radius: 16px;
  line-height: 17px;
  height: 32px;
  vertical-align: middle;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}
.orangebtn:disabled {
  background-image: linear-gradient(104deg, #e1e1e1, #c7c7c7);
}
#forward {
  width: 260px;
  text-align: left;
}
#backward {
  width: 135px;
  text-align: right;
}
#forward img {
  float: right;
}
#backward img {
  float: left;
}
.scrollbar {
  height: 580px;
  overflow-y: scroll;
  padding-right: 20px;
  overflow-x: hidden;
}
#formState {
  font-weight: bold;
  font-size: 12px;
}
.force-overflow {
  min-height: 1000px;
}
#formState {
  margin-top: 50px;
  margin-bottom: 50px;
}
#maincontent::-webkit-scrollbar-track {
  background-color: transparent;
}
#maincontent::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}
#maincontent::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
}
#maincontentarea {
  margin: 0px;
  padding: 0px;
}
.mw-350 {
  min-width: 350px;
  padding: 0px;
  margin: 0px;
}
.mw-350 hr {
  height: 0.1em;
  border: none;
  padding: 0px;
  margin: 10px 0px;
}
.mw-350 img {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 5px;
  right: -5px;
  z-index: 100;
}
.mw-350 input {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 3px;
  right: -8px;
  background: #c7c7c7;
  z-index: 100;
}

.DOBCont {
  border: blue solid 0px;
}

.DOB {
  border: red solid 0px;
  margin: -1px 0px 0px -1px;
}

.DOB .col {
  padding: 2px;
  margin: 0px;
}

#maincontentarea .DOBCont .inputWithImg img,
.DOBCont .inputWithImg img {
  padding: 0px 0px 0px 0px;
  margin: -21px 8px 0px 0px;
}
