<div class="row">
  <div class="col-sm-9" style="height: 1000px; overflow-y:auto; ">
      <div id="CustomerDetails" class="customerBox">
          asdasdasd
      </div>
      <div id="CustomerContact" class="customerBox">
          asdasdasd
      </div>
  </div>
  <div class="col-sm-3">
      <button class="btn" id="forward">Volgende stap <img src="../../assets/svg/right-arrow.svg" style="width:20px"/></button><br/>
      <button class="btn" id="backward" disabled><img src="../../assets/svg/left-arrow.svg"  style="width:20px"/> Terug</button>
  </div>
</div>


