<div class="updateModel">
  <div class="row ">
    <div class="col-sm-12 mat-dialog-close">
      <button mat-button [mat-dialog-close]="currentDpsWorkSchedule" class=""><img
          src="../../../../../assets/svg/closebox.svg" /></button>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-12 center-block head">
      <img src='../../../assets/svg/WorkScheduleHead.svg'>
      <br /> <label>Werkrooster aanmaken / Wijzigen</label>
      <hr>
    </div>
  </div>
  <form [formGroup]="WorkScheduleForm" novalidate id="WorkScheduleForm">
    <div class="contactperson">
      <div class="row">
        <div class="col-sm-7 inputWithImg">
          <label class="titleBold"> Naam: </label>
          <input formControlName="name" class="form-control" name="name" type="text" required />
          <div class="form-control-feedback"
            *ngIf="WorkScheduleForm.controls.name.invalid && (WorkScheduleForm.controls.name.dirty || WorkScheduleForm.controls.name.touched) else newvalid">
            <img src="../../assets/img/InvalidIcon.png" alt="">
          </div>
          <ng-template #newvalid>
            <img src="../../assets/img/ValidIcon.png" alt="">
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 RowEmpty">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table width="100%" class="WorkScheduleDiv" cell-padding="0" cell-spacing="0">
            <thead>
              <th>Ma</th>
              <th>Di</th>
              <th>Woe</th>
              <th>Don</th>
              <th>Vrij</th>
              <th>Zat</th>
              <th>Zon</th>
              <th></th>
            </thead>
            <tr *ngFor="let workScheduleRow of workScheduleRows">
              <td *ngFor="let weekDayOf of workScheduleRow.weekDayOf">
                <div class="row"
                  (click)="onWorkTimeSelector(workScheduleRow.rowid,weekDayOf.dayOfWeek,weekDayOf.workTimes)">
                  <div class="col col-sm-5 start">
                    <input name="WorkSchedule_{{workScheduleRow.rowid}}_Start_{{weekDayOf.dayOfWeek}}"
                      [value]="weekDayOf.workTimes.startTime" [title]="weekDayOf.workTimes.title" placeholder=":"
                      disabled />
                  </div>
                  <div class="col col-sm-2">&nbsp;-&nbsp;</div>
                  <div class="col col-sm-5 end">
                    <input name="WorkSchedule_{{workScheduleRow.rowid}}_End_{{weekDayOf.dayOfWeek}}"
                      [value]="weekDayOf.workTimes.endTime" [title]="weekDayOf.workTimes.title" placeholder=":"
                      disabled />
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col col-sm-12 mat-dialog-close">
                    <button (click)="removeRow(workScheduleRow.rowid)"><img
                        src='../../../../../assets/svg/remove.svg' /></button>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-12 mat-dialog-close">
          <button (click)="addEmptyRow()"><img src='../../../../../assets/svg/addblack.svg' /></button>
        </div>
      </div>
    </div>
    <div class="col col-sm-12 center-block">
      <button class="greenbtn" id="btnSave" (click)="onSaveWorkScheduleClick()"><span>Rooster opslaan</span>
      </button>
    </div>
  </form>
</div>