<div class="updateModel">
  <div class="row ">
    <div class="col-sm-12 mat-dialog-close">
      <button mat-button [mat-dialog-close]="selectedDpsWorkSchedule" class=""><img
          src="../../../../../assets/svg/closebox.svg" /></button>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-12 center-block head">
      <img src='../../../assets/svg/WorkScheduleHead.svg'>
      <br /> <label>Werkrooster aanmaken / Wijzigen</label>
      <hr>
    </div>
  </div>
  <form [formGroup]="WorkScheduleForm" novalidate id="WorkScheduleForm">
    <div class="contactperson">
      <div class="row">
        <div class="col-sm-6 inputWithImg">
          <label class="titleBold"> Naam: </label>
          <input formControlName="name" class="form-control" name="name" type="text" required />
          <div class="form-control-feedback"
            *ngIf="WorkScheduleForm.controls.name.invalid && (WorkScheduleForm.controls.name.dirty || WorkScheduleForm.controls.name.touched) else newvalid">
            <img src="../../assets/img/InvalidIcon.png" alt="">
          </div>
          <ng-template #newvalid>
            <img src="../../assets/img/ValidIcon.png" alt="">
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 RowEmpty">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table width="100%" class="WorkScheduleDiv" cell-padding="0" cell-spacing="0">
            <thead>
              <th [ngClass]="(isValidMon===true)?'':'ErrorMsg'">Ma</th>
              <th [ngClass]="(isValidTue===true)?'':'ErrorMsg'">Di</th>
              <th [ngClass]="(isValidWed===true)?'':'ErrorMsg'">Woe</th>
              <th [ngClass]="(isValidThu===true)?'':'ErrorMsg'">Don</th>
              <th [ngClass]="(isValidFri===true)?'':'ErrorMsg'">Vrij</th>
              <th [ngClass]="(isValidSat===true)?'':'ErrorMsg'">Zat</th>
              <th [ngClass]="(isValidSun===true)?'':'ErrorMsg'">Zon</th>
              <th></th>
            </thead>
            <tr *ngFor="let workScheduleRow of workScheduleRows">
              <td *ngFor="let weekDayOf of workScheduleRow.weekDayOf">
                <div class="row bg">
                  <div class="start bg">
                    <input name="WorkSchedule_{{workScheduleRow.rowid}}_Start_{{weekDayOf.dayOfWeek}}_HH"
                      [value]="weekDayOf.workTimes.startTime | timeSpliter: 1" [title]="weekDayOf.workTimes.title"
                      placeholder="00" maxlength="2" type="number" (keypress)="onKey($event)"
                      (keyup)="onHourKey($event)"
                      (blur)="OnTextBoxBlur($event.target.value,workScheduleRow.rowid,weekDayOf.dayOfWeek,'S','H')" />
                    <div class="mid">:</div>
                    <input name="WorkSchedule_{{workScheduleRow.rowid}}_Start_{{weekDayOf.dayOfWeek}}_MM"
                      [value]="weekDayOf.workTimes.startTime | timeSpliter: 2" [title]="weekDayOf.workTimes.title"
                      placeholder="00" maxlength="2" type="number" (keypress)="onKey($event)" (keyup)="onMinKey($event)"
                      (blur)="OnTextBoxBlur($event.target.value,workScheduleRow.rowid,weekDayOf.dayOfWeek,'S','M')" />
                  </div>
                  <div class="mid bg">-</div>
                  <div class="end bg">
                    <input name="WorkSchedule_{{workScheduleRow.rowid}}_End_{{weekDayOf.dayOfWeek}}"
                      [value]="weekDayOf.workTimes.endTime | timeSpliter: 1" [title]="weekDayOf.workTimes.title"
                      placeholder="00" maxlength="2" type="number" (keypress)="onKey($event)"
                      (keyup)="onHourKey($event)"
                      (blur)="OnTextBoxBlur($event.target.value,workScheduleRow.rowid,weekDayOf.dayOfWeek,'E','H')" />
                    <div class="mid">:</div>
                    <input name="WorkSchedule_{{workScheduleRow.rowid}}_End_{{weekDayOf.dayOfWeek}}"
                      [value]="weekDayOf.workTimes.endTime | timeSpliter: 2" [title]="weekDayOf.workTimes.title"
                      placeholder="00" maxlength="2" type="number" (keypress)="onKey($event)" (keyup)="onMinKey($event)"
                      (blur)="OnTextBoxBlur($event.target.value,workScheduleRow.rowid,weekDayOf.dayOfWeek,'E','M')" />
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col col-sm-12 mat-dialog-close">
                    <button (click)="removeRow(workScheduleRow.rowid)"><img
                        src='../../../../../assets/svg/remove.svg' /></button>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" *ngIf="workScheduleRows.length<2">
        <div class="col col-sm-12 mat-dialog-close">
          <button (click)="addEmptyRow()"><img src='../../../../../assets/svg/addblack.svg' /></button>
        </div>
      </div>
    </div>
    <div class="col col-sm-12 center-block">
      <button class="greenbtn" id="btnSave" (click)="onSaveWorkScheduleClick()"><span>Rooster opslaan</span>
      </button>
    </div>
  </form>
</div>